<span class="h-indicator" ng-controller="DialogLaunchController">
    <!-- DO NOT ADD SPACES BETWEEN THE SPANS - IT ADDS WHITE SPACE!! -->
    <div class="c-indicator c-indicator--clickable icon-box-with-arrow s-status-available"><span class="label c-indicator__label">
        <button ng-click="launchProgress(true)">Known</button>
        <button ng-click="launchProgress(false)">Unknown</button>
        <button ng-click="launchError()">Error</button>
        <button ng-click="launchInfo()">Info</button>
    </span></div>
</span>
