<span class="h-indicator" ng-controller="NotificationLaunchController">
    <!-- DO NOT ADD SPACES BETWEEN THE SPANS - IT ADDS WHITE SPACE!! -->
    <div class="c-indicator c-indicator--clickable icon-bell s-status-available"><span class="label c-indicator__label">
        <button ng-click="newInfo()">Success</button>
        <button ng-click="newError()">Error</button>
        <button ng-click="newAlert()">Alert</button>
        <button ng-click="newProgress()">Progress</button>
    </span></div>
</span>
