<div class="l-time-display l-digital l-timer s-timer" ng-controller="TimerController as timer">
	<div class="l-elem-wrapper">
		<a
			ng-click="timer.clickButton()"
			title="{{timer.buttonText()}}"
			class="l-elem l-btn s-btn s-icon-btn s-very-subtle vsm control"
			>
			<span class="ui-symbol icon">{{timer.buttonGlyph()}}</span>
		</a>
	    <span class="l-elem l-value">
		    <span class="ui-symbol direction">{{timer.sign()}}</span>
	        <span
		        class="value"
		        ng-class="{ active:timer.text() }"
		        >{{timer.text() || "--:--:--"}}
		        </span>
	    </span>
	    <span ng-controller="RefreshingController">
	    </span>
	</div>
</div>