<div class="abs angular-controller"
     ng-controller="TimeOfInterestController as toi">
    <div class="l-flex-row l-toi">
        <span class="flex-elem l-flex-row l-toi-buttons">
            <a class="flex-elem t-button-resync icon-button" title="Re-sync Time of Interest"
               ng-click="toi.resync()"></a>
            <a class="flex-elem t-button-unpin icon-button" title="Unset Time of Interest"
               ng-click="toi.dismiss()"></a>
        </span>
        <span class="flex-elem l-toi-val">{{toi.toiText}}</span>
    </div>
</div>
