ul.tree {
	@include menuUlReset();
	li {
		display: block;
		position: relative;
		span.tree-item {
			$runningItemW: 0;
			@include border-radius($basicCr);
			@include single-transition(background-color, 0.25s);
			display: block;
			font-size: 0.80rem;
			height: $menuLineH;
			line-height: $menuLineH;
			margin-bottom: $interiorMarginSm;
			position: relative;

			.view-control {
				display: inline-block;
                margin-left: $interiorMargin;
				//                vertical-align: middle;
				width: $treeVCW;
				$runningItemW: $interiorMargin + $treeVCW;
				&:hover {
					color: $colorItemTreeVCHover;
				}
			}

			.label {
				display: block;
//				border: 1px solid rgba(blue, 0.5);
				@include absPosDefault();
				left: $runningItemW + $interiorMargin;

				.type-icon {
					@include absPosDefault();
					@include txtShdwSubtle(0.6);
					color: $colorItemTreeIcon;
					.alert {
						@include txtShdwSubtle(0.3);
						background: $colorBodyBg;
						color: $colorAlert;
						font-size: 0.7em;
						margin-top: -3px;
						top: 0;
						right: auto;
						bottom: auto;
						left: 9px;
						height: auto;
						width: auto;
						position: absolute;
						z-index: 2;
					}
				}
				.title-label {
					@include absPosDefault();
					display: block;
					left: $runningItemW + ($interiorMargin * 2);
					//                right: $treeContextTriggerW + $interiorMargin; //Disabling as context trigger not being used
					overflow: hidden;
					text-overflow: ellipsis;
//					height: $menuLineH;
					white-space: nowrap;
				}
			}

			&.loading {
				pointer-events: none;
				.label {
					opacity: 0.5;
					.title-label {
						font-style: italic;
					}
				}
				.wait-spinner {
					margin-left: 14px;
				}
			}

			&.selected {
				$c: #fff;
				background: #005177;
				color: $c;
				.view-control {
					color: $colorItemTreeIcon;
				}
				.label .type-icon {
					color: #fff; //$colorItemTreeIconHover;
				}
			}

			&:not(.selected) {
				&:hover {
					background: lighten($colorBodyBg, 5%);
					color: lighten($colorBodyFg, 20%);
					.context-trigger {
						display: block;
					}
					.icon {
						color: $colorItemTreeIconHover;
					}
				}
			}

			&:not(.loading) {
				cursor: pointer;
				//                @include tree-item-hover();
			}

			.context-trigger {
				$h: 0.9rem;
				display: none;
				top: -1px;
				position: absolute;
				right: $interiorMarginSm;
				.btn-invoke-menu {
					font-size: 0.75em;
					height: $h;
					line-height: $h;
				}
			}
		}
	}

	ul.tree {
		margin-left: $treeVCW + $interiorMargin;
	}
}