*.scssc
*.zip
*.gzip
*.tgz
*.DS_Store

*.sass-cache

# Intellij project configuration files
*.idea
*.iml

# External dependencies

# Build output
target

# Mac OS X Finder
.DS_Store

# Closed source libraries
closed-lib

# Node dependencies
node_modules

# Protractor logs
protractor/logs

