*.scssc
*.zip
*.gzip
*.tgz
*.DS_Store
*.idea
*.sass-cache

# External dependencies

# Build output
target

# Mac OS X Finder
.DS_Store

# Closed source libraries
closed-lib

# Node dependencies
node_modules

