# Ignore everything first (will not ignore special files like LICENSE.md,
# README.md, and package.json)...
/**/*

# ...but include these folders...
!/dist/**/*
!/src/**/*
!/platform/**/*

# ...except for these files in the above folders.
/src/**/*Spec.js
/src/**/test/
# TODO move test utils into test/ folders
/src/utils/testing.js
/platform/**/*Spec.js
/platform/**/test/

# Also include these special top-level files.
!copyright-notice.js
!copyright-notice.html
!index.html
!openmct.js
!SECURITY.md