# Ignore everything first (will not ignore special files like LICENSE.md,
# README.md, and package.json)...
/**/*

# ...but include these folders...
!/dist/**/*
!/src/**/*

# We might be able to remove this if it is not imported by any project directly.
# https://github.com/nasa/openmct/issues/4992
!/example/**/*

# ...except for these files in the above folders.
/src/**/*Spec.js
/src/**/test/
# TODO move test utils into test/ folders
/src/utils/testing.js

# Also include these special top-level files.
!copyright-notice.js
!copyright-notice.html
!index.html
!openmct.js
!SECURITY.md

# Add e2e tests to npm package
!/e2e/**/*

# ... except our test-data folder files.
/e2e/test-data/*.json
