loglevel=warn

# Temporary: istanbul-instrumenter-loader is working with webpack 5, but states
# webpack 4 being the latest version it supports, so this legacy-peer-deps
# allows us to install it anyway.
legacy-peer-deps=true

#Prevent folks from ignoring an important error when building from source
engine-strict=true