/* line 2, ../sass/forms/_elems.scss */
.form .section-header {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 0.8em;
  margin-top: 5px;
  padding: 5px; }
  /* line 8, ../sass/forms/_elems.scss */
  .form .section-header:first-child {
    margin-top: 0; }
/* line 12, ../sass/forms/_elems.scss */
.form .form-section {
  position: relative; }
/* line 16, ../sass/forms/_elems.scss */
.form .form-row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #4d4d4d;
  margin-top: 5px;
  padding: 5px;
  position: relative; }
  /* line 25, ../sass/forms/_elems.scss */
  .form .form-row:first-child {
    border-top: none; }
  /* line 29, ../sass/forms/_elems.scss */
  .form .form-row .label,
  .form .form-row .controls {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    *zoom: 1;
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 22px;
    min-height: 22px; }
  /* line 39, ../sass/forms/_elems.scss */
  .form .form-row > .label {
    float: left;
    position: relative;
    white-space: nowrap;
    width: 20%; }
  /* line 47, ../sass/forms/_elems.scss */
  .form .form-row .value {
    color: #cccccc; }
  /* line 51, ../sass/forms/_elems.scss */
  .form .form-row .controls {
    float: left;
    position: relative;
    width: 79%; }
  /* line 58, ../sass/forms/_elems.scss */
  .form .form-row .field-hints {
    color: #666666; }
  /* line 62, ../sass/forms/_elems.scss */
  .form .form-row .selector-list {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    height: 150px;
    max-width: 50%; }
    /* line 70, ../sass/forms/_elems.scss */
    .form .form-row .selector-list .wrapper {
      overflow-y: auto;
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px; }

/* line 84, ../sass/forms/_elems.scss */
label.form-control.checkbox input {
  margin-right: 5px;
  vertical-align: top; }

/* line 90, ../sass/forms/_elems.scss */
.hint {
  font-size: 0.9em; }

/* line 1, ../sass/forms/_textarea.scss */
.edit-main textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  background: #666666;
  border: none;
  border-bottom: 1px solid #999999;
  color: #cccccc;
  outline: none;
  padding: 5px;
  position: absolute;
  height: 100%;
  width: 100%; }
  /* line 11, ../sass/forms/_mixins.scss */
  .edit-main textarea.error {
    background: rgba(255, 0, 0, 0.5); }

/* line 1, ../sass/forms/_text-input.scss */
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  background: #666666;
  border: none;
  border-bottom: 1px solid #999999;
  color: #cccccc;
  outline: none;
  padding: 0 3px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle; }
  /* line 11, ../sass/forms/_mixins.scss */
  input[type="text"].error {
    background: rgba(255, 0, 0, 0.5); }
  /* line 11, ../sass/forms/_text-input.scss */
  input[type="text"].numeric {
    text-align: right; }

/* line 1, ../sass/forms/_selects.scss */
.form-control.select {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(#4d4d4d, #404040);
  background-image: -moz-linear-gradient(#4d4d4d, #404040);
  background-image: -o-linear-gradient(#4d4d4d, #404040);
  background-image: linear-gradient(#4d4d4d, #404040);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  border-top: 1px solid #666666;
  color: #999999;
  display: inline-block;
  margin-right: 5px;
  margin-top: 1px;
  padding: 0 25px 0 0;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }
  /* line 115, ../sass/_mixins.scss */
  .form-control.select:not(.disabled):hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #4d4d4d));
    background-image: -webkit-linear-gradient(#666666, #4d4d4d);
    background-image: -moz-linear-gradient(#666666, #4d4d4d);
    background-image: -o-linear-gradient(#666666, #4d4d4d);
    background-image: linear-gradient(#666666, #4d4d4d); }
  /* line 11, ../sass/forms/_selects.scss */
  .form-control.select span.arw {
    display: block;
    pointer-events: none;
    position: absolute;
    right: 8%;
    top: 10%; }
  /* line 18, ../sass/forms/_selects.scss */
  .form-control.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    padding: 3px 5px 4px 5px;
    width: 150%; }
  /* line 32, ../sass/forms/_selects.scss */
  .form-control.select select:focus {
    outline: none; }

/* line 2, ../sass/forms/_channel-selector.scss */
.channel-selector .line {
  margin-bottom: 5px;
  min-height: 22px; }
/* line 6, ../sass/forms/_channel-selector.scss */
.channel-selector .treeview {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 5px;
  background: #666666;
  border: none;
  border-bottom: 1px solid #999999;
  color: #cccccc;
  outline: none;
  padding: 0 3px;
  background: #3b3b3b;
  border-bottom: 1px solid #4d4d4d;
  min-height: 300px;
  max-height: 400px;
  overflow: auto;
  padding: 5px; }
  /* line 11, ../sass/forms/_mixins.scss */
  .channel-selector .treeview.error {
    background: rgba(255, 0, 0, 0.5); }
/* line 15, ../sass/forms/_channel-selector.scss */
.channel-selector .btns-add-remove {
  margin-top: 150px; }
  /* line 18, ../sass/forms/_channel-selector.scss */
  .channel-selector .btns-add-remove .btn {
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center; }

/* line 2, ../sass/forms/_datetime.scss */
.complex.datetime span {
  display: inline-block;
  margin-right: 5px; }
/* line 15, ../sass/forms/_datetime.scss */
.complex.datetime .fields {
  margin-top: 3px 0;
  padding: 3px 0; }
/* line 20, ../sass/forms/_datetime.scss */
.complex.datetime .date {
  width: 85px; }
  /* line 23, ../sass/forms/_datetime.scss */
  .complex.datetime .date input {
    width: 80px; }
/* line 29, ../sass/forms/_datetime.scss */
.complex.datetime .time.sm {
  width: 45px; }
  /* line 32, ../sass/forms/_datetime.scss */
  .complex.datetime .time.sm input {
    width: 40px; }
