/* line 1, ../sass/items/_item.scss */
.items-holder {
  overflow: hidden;
  *zoom: 1;
  overflow-y: auto; }
  /* line 4, ../sass/items/_item.scss */
  .items-holder .contents {
    top: 0; }
  /* line 6, ../sass/items/_item.scss */
  .items-holder .item.grid-item {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #595959), color-stop(100%, #4d4d4d));
    background-image: -webkit-linear-gradient(#595959, #4d4d4d);
    background-image: -moz-linear-gradient(#595959, #4d4d4d);
    background-image: -o-linear-gradient(#595959, #4d4d4d);
    background-image: linear-gradient(#595959, #4d4d4d);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    border-top: 1px solid #737373;
    color: #999999;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    height: 200px;
    width: 200px;
    margin-bottom: 3px;
    margin-right: 3px;
    position: relative; }
    /* line 82, ../sass/_mixins.scss */
    .items-holder .item.grid-item:not(.disabled):hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(100%, #595959));
      background-image: -webkit-linear-gradient(#737373, #595959);
      background-image: -moz-linear-gradient(#737373, #595959);
      background-image: -o-linear-gradient(#737373, #595959);
      background-image: linear-gradient(#737373, #595959); }
    /* line 19, ../sass/items/_item.scss */
    .items-holder .item.grid-item:hover .item-main .item-type {
      color: #0099cc !important; }
    /* line 22, ../sass/items/_item.scss */
    .items-holder .item.grid-item:hover .item-main .item-open {
      display: block; }
    /* line 27, ../sass/items/_item.scss */
    .items-holder .item.grid-item .bar.top-bar.abs {
      bottom: auto;
      height: 20px;
      line-height: 20px;
      z-index: 5; }
      /* line 32, ../sass/items/_item.scss */
      .items-holder .item.grid-item .bar.top-bar.abs .left, .items-holder .item.grid-item .bar.top-bar.abs .right {
        width: auto; }
        /* line 34, ../sass/items/_item.scss */
        .items-holder .item.grid-item .bar.top-bar.abs .left .icon, .items-holder .item.grid-item .bar.top-bar.abs .right .icon {
          margin-left: 5px; }
    /* line 39, ../sass/items/_item.scss */
    .items-holder .item.grid-item .bar.bottom-bar.abs {
      top: auto;
      height: 40px;
      padding: 5px; }
    /* line 45, ../sass/items/_item.scss */
    .items-holder .item.grid-item .item-main {
      z-index: 1; }
      /* line 53, ../sass/items/_item.scss */
      .items-holder .item.grid-item .item-main .item-type {
        color: #737373;
        text-align: center;
        font-size: 7em;
        line-height: 180px; }
      /* line 59, ../sass/items/_item.scss */
      .items-holder .item.grid-item .item-main .item-open {
        display: none;
        font-size: 5em;
        line-height: 180px;
        left: auto;
        width: 30px; }
    /* line 67, ../sass/items/_item.scss */
    .items-holder .item.grid-item .title {
      text-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
      color: #cccccc;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    /* line 75, ../sass/items/_item.scss */
    .items-holder .item.grid-item .details {
      font-size: 0.8em; }
    /* line 78, ../sass/items/_item.scss */
    .items-holder .item.grid-item.selected {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00bfff), color-stop(100%, #00ace6));
      background-image: -webkit-linear-gradient(#00bfff, #00ace6);
      background-image: -moz-linear-gradient(#00bfff, #00ace6);
      background-image: -o-linear-gradient(#00bfff, #00ace6);
      background-image: linear-gradient(#00bfff, #00ace6);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      border-top: 1px solid #33ccff;
      color: #999999;
      display: inline-block;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33ccff), color-stop(100%, #0099cc));
      background-image: -webkit-linear-gradient(#33ccff, #0099cc);
      background-image: -moz-linear-gradient(#33ccff, #0099cc);
      background-image: -o-linear-gradient(#33ccff, #0099cc);
      background-image: linear-gradient(#33ccff, #0099cc);
      color: #80dfff; }
      /* line 90, ../sass/_mixins.scss */
      .items-holder .item.grid-item.selected:not(.disabled):hover {
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66d9ff), color-stop(100%, #00bfff));
        background-image: -webkit-linear-gradient(#66d9ff, #00bfff);
        background-image: -moz-linear-gradient(#66d9ff, #00bfff);
        background-image: -o-linear-gradient(#66d9ff, #00bfff);
        background-image: linear-gradient(#66d9ff, #00bfff); }
      /* line 83, ../sass/items/_item.scss */
      .items-holder .item.grid-item.selected .item-type, .items-holder .item.grid-item.selected .top-bar .icon:not(.alert) {
        color: #80dfff; }
      /* line 84, ../sass/items/_item.scss */
      .items-holder .item.grid-item.selected .item-main .item-open {
        color: #80dfff; }
      /* line 85, ../sass/items/_item.scss */
      .items-holder .item.grid-item.selected .title {
        color: white; }
      /* line 87, ../sass/items/_item.scss */
      .items-holder .item.grid-item.selected:hover .item-main .item-type {
        color: white !important; }
