/* line 10, ../sass/plots/_plots-main.scss */
.gl-plot {
  color: #999999;
  font-size: 0.7rem;
  position: relative;
  width: 100%;
  height: 100%; }
  /* line 17, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-axis-area {
    position: absolute; }
    /* line 20, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-axis-area.gl-plot-x {
      top: auto;
      right: 0;
      bottom: 5px;
      left: 60px;
      height: 32px;
      width: auto;
      overflow: hidden; }
    /* line 29, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-axis-area.gl-plot-y {
      top: 29px;
      right: auto;
      bottom: 37px;
      left: 0;
      width: 60px; }
  /* line 38, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-coords {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255, 199, 0, 0.5);
    color: #e6e6e6;
    padding: 2px 5px;
    position: absolute;
    top: 39px;
    right: auto;
    bottom: auto;
    left: 70px;
    z-index: 10; }
    /* line 50, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-coords:empty {
      display: none; }
  /* line 55, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-display-area {
    position: absolute;
    top: 29px;
    right: 0;
    bottom: 37px;
    left: 60px;
    cursor: crosshair;
    border: 1px solid #4d4d4d; }
  /* line 66, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-label,
  .gl-plot .l-plot-label {
    color: #cccccc;
    position: absolute;
    text-align: center; }
    /* line 74, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-label.gl-plot-x-label, .gl-plot .gl-plot-label.l-plot-x-label,
    .gl-plot .l-plot-label.gl-plot-x-label,
    .gl-plot .l-plot-label.l-plot-x-label {
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto; }
    /* line 83, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-label.gl-plot-y-label, .gl-plot .gl-plot-label.l-plot-y-label,
    .gl-plot .l-plot-label.gl-plot-y-label,
    .gl-plot .l-plot-label.l-plot-y-label {
      -webkit-transform-origin: 50% 0;
      -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
      -o-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -webkit-transform: translateX(-50%) rotate(-90deg);
      -moz-transform: translateX(-50%) rotate(-90deg);
      -ms-transform: translateX(-50%) rotate(-90deg);
      -o-transform: translateX(-50%) rotate(-90deg);
      transform: translateX(-50%) rotate(-90deg);
      display: inline-block;
      margin-left: 5px;
      left: 0;
      top: 50%;
      white-space: nowrap; }
  /* line 96, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-y-options {
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: auto5px;
    margin-top: -16px;
    height: auto;
    min-height: 32px;
    width: 32px; }
  /* line 110, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-hash {
    position: absolute;
    border: 0 rgba(255, 255, 255, 0.3) dashed; }
    /* line 113, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-hash.hash-v {
      border-right-width: 1px;
      height: 100%; }
    /* line 117, ../sass/plots/_plots-main.scss */
    .gl-plot .gl-plot-hash.hash-h {
      border-bottom-width: 1px;
      width: 100%; }
  /* line 123, ../sass/plots/_plots-main.scss */
  .gl-plot .gl-plot-legend {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 24px;
    overflow-x: hidden;
    overflow-y: auto; }

/* line 151, ../sass/plots/_plots-main.scss */
.gl-plot-legend .plot-legend-item,
.gl-plot-legend .legend-item,
.legend .plot-legend-item,
.legend .legend-item {
  display: inline-block;
  margin-right: 10px; }
  /* line 154, ../sass/plots/_plots-main.scss */
  .gl-plot-legend .plot-legend-item span,
  .gl-plot-legend .legend-item span,
  .legend .plot-legend-item span,
  .legend .legend-item span {
    vertical-align: middle; }
  /* line 158, ../sass/plots/_plots-main.scss */
  .gl-plot-legend .plot-legend-item .plot-color-swatch,
  .gl-plot-legend .plot-legend-item .color-swatch,
  .gl-plot-legend .legend-item .plot-color-swatch,
  .gl-plot-legend .legend-item .color-swatch,
  .legend .plot-legend-item .plot-color-swatch,
  .legend .plot-legend-item .color-swatch,
  .legend .legend-item .plot-color-swatch,
  .legend .legend-item .color-swatch {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 3px; }

/* line 172, ../sass/plots/_plots-main.scss */
.tick {
  position: absolute;
  border: 0 rgba(255, 255, 255, 0.3) solid; }
  /* line 175, ../sass/plots/_plots-main.scss */
  .tick.tick-x {
    border-right-width: 1px;
    height: 100%; }

/* line 183, ../sass/plots/_plots-main.scss */
.gl-plot-tick,
.tick-label {
  font-size: 0.7rem;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
  /* line 191, ../sass/plots/_plots-main.scss */
  .gl-plot-tick.gl-plot-x-tick-label, .gl-plot-tick.tick-label-x,
  .tick-label.gl-plot-x-tick-label,
  .tick-label.tick-label-x {
    right: auto;
    bottom: auto;
    left: auto;
    height: auto;
    width: 20%;
    margin-left: -10%;
    text-align: center; }
  /* line 201, ../sass/plots/_plots-main.scss */
  .gl-plot-tick.gl-plot-y-tick-label, .gl-plot-tick.tick-label-y,
  .tick-label.gl-plot-y-tick-label,
  .tick-label.tick-label-y {
    top: auto;
    height: 1em;
    width: auto;
    margin-bottom: -0.5em;
    text-align: right; }

/* line 212, ../sass/plots/_plots-main.scss */
.gl-plot-tick.gl-plot-x-tick-label {
  top: 5px; }
/* line 215, ../sass/plots/_plots-main.scss */
.gl-plot-tick.gl-plot-y-tick-label {
  right: 5px;
  left: 5px; }

/* line 222, ../sass/plots/_plots-main.scss */
.tick-label.tick-label-x {
  top: 0; }
/* line 225, ../sass/plots/_plots-main.scss */
.tick-label.tick-label-y {
  right: 0;
  left: 0; }
