/******************************* TAGS */
.c-tag {
  border-radius: 10px; //TODO: convert to theme constant
  display: inline-flex;
  padding: 1px 10px; //TODO: convert to theme constant

  > * + * {
    margin-left: $interiorMargin;
  }

  &__remove-btn {
    color: inherit !important;
    display: none;
    opacity: 0;
    overflow: hidden;
    padding: 1px !important;
    transition: $transIn;
    width: 0;

    &:hover {
      opacity: 1;
    }
  }

  /* SEARCH RESULTS */
  &.--is-not-search-match {
    opacity: 0.5;
  }
}

/******************************* TAG EDITOR */
.c-tag-applier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  > * + * {
    margin-left: $interiorMargin;
  }

  &__add-btn {
    &:before { font-size: 0.9em; }
  }

  .c-tag {
    flex-direction: row;
    align-items: center;
    padding-right: 3px !important;

    &__remove-btn {
      display: block;
    }
  }
}

/******************************* HOVERS */
.has-tag-applier {
  // Apply this class to all components that should trigger tag removal btn on hover
   &:hover {
     .c-tag__remove-btn {
       width: 1.1em;
       opacity: 0.7;
       transition: $transOut;
     }
   }
 }
