<div class="l-view-section scrolling" style="overflow: auto;">
    <table class="sizing-table">
        <tbody>
            <tr>
                <td ng-repeat="header in displayHeaders">{{header}}</td>
            </tr>
            <tr><td ng-repeat="header in displayHeaders" >
                {{sizingRow[header].text}}
            </td></tr>
        </tbody>
    </table>
    <table class="filterable mct-table"
           ng-style="{
            height: totalHeight + 'px',
            'max-width': totalWidth
            }">
        <thead>
            <tr>
                <th ng-repeat="header in displayHeaders"
                    ng-style="{
                        width: columnWidths[$index] + 'px',
                        'max-width': columnWidths[$index] + 'px',
                    }"
                    ng-class="[
                        enableSort ? 'sortable' : '',
                        sortColumn === header ? 'sort' : '',
                        sortDirection || ''
                    ].join(' ')"
                    ng-click="toggleSort(header)">
                    {{ header }}
                </th>
            </tr>
            <tr ng-if="enableFilter" class="s-filters">
                <th ng-repeat="header in displayHeaders"
                    ng-style="{
                        width: columnWidths[$index] + 'px',
                        'max-width': columnWidths[$index] + 'px',
                    }">
                    <input type="text"
                           ng-model="filters[header]"/>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="visibleRow in visibleRows track by visibleRow.rowIndex"
                ng-style="{
                    top: visibleRow.offsetY + 'px',
                }">
                <td ng-repeat="header in displayHeaders"
                    ng-style=" {
                        width: columnWidths[$index] + 'px',
                        'max-width': columnWidths[$index] + 'px',
                    }"
                    class="{{visibleRow.contents[header].cssClass}}">
                    {{ visibleRow.contents[header].text }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
