<div ng-controller="TelemetryTableController as tableController"
     ng-class="{'loading': loading}">
    <mct-table
        headers="headers"
        rows="rows"
        time-columns="[tableController.table.timeSystemColumnTitle]"
        format-cell="formatCell"
        enableFilter="true"
        enableSort="true"
        auto-scroll="autoScroll"
        default-sort="defaultSort"
        export-as="{{ exportAs }}"
        class="tabular-holder l-sticky-headers has-control-bar">
    </mct-table>
</div>
