<div ng-controller="TelemetryTableController as tableController"
     ng-class="{'loading': loading}">
    Request time: {{tableController.lastRequestTime | date : 'HH:mm:ss:sss'}}
    <mct-table
        headers="headers"
        rows="rows"
        time-columns="tableController.timeColumns"
        format-cell="formatCell"
        enableFilter="true"
        enableSort="true"
        auto-scroll="autoScroll"
        default-sort="defaultSort"
        class="tabular-holder has-control-bar">
    </mct-table>
</div>