.c-d3-axis {
    $w: 30px;
    height: $w;

    svg {
        text-rendering: geometricPrecision;
        width: 100%;
        height: 100%;

        .tick {
            line {
                opacity: 0;
            }

            text {
                // Tick labels
                fill: $colorBodyFg;
                paint-order: stroke;
                font-weight: bold;
            }
        }

        path.domain {
            opacity: 0;
        }
    }
}
