<mct-representation key="'topbar-edit'"
                    mct-object="domainObject"
                    ng-model="representation">
</mct-representation>
<div class="holder edit-area outline abs"
     ng-init="toolbar = {}">

    <mct-toolbar name="mctToolbar"
                 structure="toolbar.structure"
                 ng-model="toolbar.state">
    </mct-toolbar>

    <div class='split-layout vertical contents abs work-area'>
        <div class='abs pane left edit-main'>
            <div class='holder abs object-holder'>
                <mct-representation key="representation.selected.key"
                                    toolbar="toolbar"
                                    mct-object="representation.selected.key && domainObject">
                </mct-representation>
            </div>
        </div>
        <div class="splitter"></div>
        <div class='abs pane right edit-objects menus-to-left'>
            <div class='holder abs split-layout horizontal'>
	            <div class="abs pane top accordion" ng-controller="ToggleController as toggle">
                <mct-container key="accordion" title="Library">
                    <mct-representation key="'tree'" alias="foo1" mct-object="context.getRoot()">
                    </mct-representation>
                </mct-container>
		        </div>
	            <div class="splitter"></div>
	            <div class="abs pane bottom accordion" ng-controller="ToggleController as toggle">
                <mct-container key="accordion" title="Elements">
                    <mct-representation key="'edit-elements'" mct-object="domainObject">
                    </mct-representation>
                </mct-container>
				</div>
            </div>
        </div>
    </div>
</div>
