<div ng-controller="BannerController" ng-show="active.notification"
     class="l-message-banner s-message-banner" ng-class="{
     'info': active.notification.severity===MessageSeverity.INFO,
     'alert': active.notification.severity===MessageSeverity.ALERT,
     'error': active.notification.severity===MessageSeverity.ERROR,
     'minimized': active.notification.minimized,
     'new': !active.notification.minimized}"
     ng-click="maximize(active.notification)">
    <span class="banner-elem label">
        {{active.notification.title}}
    </span>
    <span ng-show="active.notification.progress !== undefined || active.notification.unknownProgress">
        <mct-include key="'progress-bar'" class="banner-elem"
                     ng-model="active.notification">
        </mct-include>
    </span>
    <a ng-hide="active.notification.primaryAction === undefined"
       class="banner-elem l-action s-action"
       ng-click="active.notification.primaryAction.action()">
        {{active.notification.primaryAction.label}}
    </a>
    <a class="banner-elem ui-symbol close" ng-click="dismiss(active.notification)">
        &#x78;</a>
</div>