<div ng-controller="BannerController" ng-show="active.notification"
     class="c-message-banner {{active.notification.model.severity}}" ng-class="{
     'minimized': active.notification.model.minimized,
     'new': !active.notification.model.minimized}"
     ng-click="maximize(active.notification)">
    <span class="c-message-banner__message">
        {{active.notification.model.title}}
    </span>
    <span ng-show="active.notification.model.progress !== undefined || active.notification.model.unknownProgress">
        <mct-include key="'progress-bar'" class="c-message-banner__progress-bar"
                     ng-model="active.notification.model">
        </mct-include>
    </span>
    <a ng-hide="active.notification.model.primaryOption === undefined"
       class="banner-elem l-action s-action"
       ng-click="action(active.notification.model.primaryOption.callback, $event)">
        {{active.notification.model.primaryOption.label}}
    </a>
    <button class="c-message-banner__close-button c-click-icon icon-x-in-circle" ng-click="dismiss(active.notification, $event)"></button>
</div>
