<span ng-controller="TreeNodeController">
<span class="tree-item menus-to-left">
	<span class='ui-symbol view-control' ng-click="toggle()" ng-if="model.composition !== undefined">
        {{node.expanded ? "v" : ">"}}
    </span>
    <mct-representation key="'label'"
                        mct-object="domainObject"
                        parameters="parameters"
                        ng-click="parameters.callback(domainObject)"
                        ng-class="{selected: node.isSelected}">
    </mct-representation>
</span>
<span class="tree-item-subtree" ng-show="node.expanded" ng-if="model.composition !== undefined">
    <mct-representation key="'tree'"
                        parameters="parameters"
                        mct-object="node.domainObject">
    </mct-representation>
</span>
</span>