<span ng-controller="ToggleController as toggle">
    <span ng-controller="TreeNodeController as treeNode">
        <span class="tree-item menus-to-left">
            <span class='ui-symbol view-control'
                  ng-click="toggle.toggle(); treeNode.setNodeObject(domainObject)"
                  ng-if="model.composition !== undefined">
                {{toggle.isActive() ? "v" : ">"}}
            </span>
            <mct-representation key="'label'"
                                mct-object="domainObject"
                                parameters="parameters"
                                ng-click="parameters.callback(domainObject)"
                                ng-class="{selected: treeNode.isNavigated()}">
            </mct-representation>
        </span>
        <span class="tree-item-subtree"
              ng-show="toggle.isActive()"
              ng-if="model.composition !== undefined">

            ID: {{treeNode.getNodeObject().getId()}}?
            <mct-representation key="'tree'"
                                parameters="parameters"
                                mct-object="treeNode.getNodeObject()">
            </mct-representation>

        </span>
    </span>
</span>