.tool-bar {
	border-bottom: 1px solid $colorInteriorBorder;
	.l-control-group {
		height: $btnToolbarH;
	}
	input[type="text"] {
		@include box-sizing(border-box);
		font-size: .9em;
		height: $btnToolbarH;
		margin-bottom: 1px;
		position: relative;
		&.sm {
			width: $btnToolbarH;
		}
	}
	.input-labeled label {
		font-size: $btnToolbarH * $btnFontSizeToH;
	}
}