.top-bar {
//	$h: $ueTopBarH - 5px;
//	background: rgba(#ff0000, 0.2);
//	line-height: $ueTopBarBtnH;

    &.browse,
    &.edit {
	    border-bottom: 1px solid $colorInteriorBorder;
        top: $bodyMargin; right: $bodyMargin; bottom: auto; left: $bodyMargin;
        height: $ueTopBarEditH;
    }
	
	.action {
	}
	
	.title {
		color: #fff;
//		font-weight: bold;
	}
	
	.buttons-main {
		font-size: 0.8em;
		left: auto;
		text-align: right;
//		width: 200px;
		.btn {
			margin-left: $interiorMargin;
		}
	}
}

.edit-mode {
	.top-bar {
		.buttons-main {
//			background: red;
//			width: 600px;
			white-space: nowrap;
			&.abs {
				bottom: auto;
				left: auto;
			}
		}
	}
}