$pad: $interiorMargin * 2;

/*********************************** TYPE STYLES */
.t-btn {
	cursor: pointer;
}


/*********************************** STYLE STYLES */
.s-btn {
	$base: lighten($colorBodyBg, 20%);
	@include border-radius($controlCr);
	@include box-sizing(border-box);
	@include text-shadow(rgba(black, 0.3) 0 1px 1px);
	line-height: 1.2em;
	padding: 0 $pad;
	text-decoration: none;
	&.s-very-subtle {
		@include containerSubtle($colorBodyBg, $colorBodyFg, true);
	}
}

.s-icon-btn {
	@extend .s-btn;
	font-size: 1.2em;
	.icon {
		color: $colorKey;
	}

	&:not(.disabled):hover .icon {
		color: lighten($colorKey, $ltGamma);
	}

	&.labeled {
		padding: 0 $pad/2;
		.icon {
			font-size: 1.5em;
		}
		.title-label {
			margin-left: $interiorMargin;
		}
	}
}


/*********************************** LAYOUT STYLES */
span.l-btn,
span.l-btn span,
a.l-btn,
a.l-btn span {
	display: inline-block;
}