.checkbox-list {
	label.checkbox.custom {
		display: block;
		margin-bottom: $interiorMargin;
	}
	li {
		margin-bottom: $interiorMargin;
	}
}

.l-tree-item-flat-list {
	// For lists of tree-items that are flat. Remove margin, etc. normally needed for the expansion arrow.
	.tree-item {
		.label {
			left: $interiorMargin !important;
		}
	}
}