.l-time-controller {
	$minW: 400px;
	$knobM: ($sliderKnobW + 1) * -1;
	$rangeValOffset: $interiorMargin + $sliderKnobW;
	$knobCr: $sliderKnobW;
	//@if $sliderKnobW > 3 {
	//	$knobCr: $sliderKnobW / 2;
	//}
	$timeRangeSliderLROffset: 130px + $sliderKnobW;
	$r1H: 33px;
	$r2H: 20px;
	$r3H: 20px;

	.l-time-range-inputs-holder,
	.l-time-range-slider {
		font-size: 0.8em;
	}

	.l-time-range-inputs-holder,
	.l-time-range-slider-holder,
	.l-time-range-ticks-holder
	{
		//@include test();
		@include absPosDefault(0, visible);
		@include box-sizing(border-box);
		min-width: $minW;
		top: auto;
	}
	.l-time-range-slider,
	.l-time-range-ticks {
		//@include test(red, 0.1);
		@include absPosDefault(0, visible);
	}

	.l-time-range-inputs-holder {
		//@include test(red);
		height: $r1H; bottom: $r2H + $r3H + ($interiorMarginSm * 2);
		padding-top: $interiorMargin;
		border-top: 1px solid $colorInteriorBorder;
		.type-icon {
			font-size: 120%;
			vertical-align: middle;
		}
		.l-time-range-input,
		.l-time-range-inputs-elem {
			margin-right: $interiorMargin;
			.lbl {
				color: $colorPlotLabelFg;
			}
			.ui-symbol.icon {
				font-size: 11px;
				width: 11px;
			}
		}
	}

	.l-time-range-slider,
	.l-time-range-ticks {
		left: $timeRangeSliderLROffset; right: $timeRangeSliderLROffset;

	}

	.l-time-range-slider-holder {
		//@include test(green);
		height: $r2H; bottom: $r3H + ($interiorMarginSm * 1);
		.range-holder {
			@include box-shadow(none);
			background: none;
			border: none;
		}
	}

	.l-time-range-ticks-holder {
		height: $r3H;
		.l-time-range-ticks {
			border-top: 1px solid $colorTick;
			.tick {
				background-color: $colorTick;
				border:none;
				height: 5px;
				width: 1px;
				margin-left: -1px;
				position: absolute;
				&:first-child {
					margin-left: 0;
				}
				.l-time-range-tick-label {
					@include webkitProp(transform, translateX(-50%));
					color: $colorPlotLabelFg;
					display: inline-block;
					font-size: 0.7em;
					position: absolute;
					top: 8px;
					white-space: nowrap;
					z-index: 2;
				}
			}
		}
	}

	.knob {
		width: $sliderKnobW;
		.range-value {
			//@include test($sliderColorRange);
			@include trans-prop-nice-fade(.25s);
			position: absolute;
			height: $r2H;
			line-height: $r2H;
			white-space: nowrap;
		}
		&:hover .range-value {
			color: $sliderColorKnobHov;
		}
		&.knob-l {
			@include border-bottom-left-radius($knobCr);
			margin-left: $knobM;
			.range-value {
				text-align: right;
				right: $rangeValOffset;
			}
		}
		&.knob-r {
			@include border-bottom-right-radius($knobCr);
			margin-right: $knobM;
			.range-value {
				left: $rangeValOffset;
			}
		}
	}
}

//.slot.range-holder {
//	background-color: $sliderColorRangeHolder;
//}

.s-time-range-val {
	//@include test();
	@include border-radius($controlCr);
	background-color: $colorInputBg;
	padding: 1px 1px 0 $interiorMargin;
}