<form name="mctForm" novalidate>

<div class="form">
    <span ng-repeat="section in structure.sections">
        <div class="section-header" ng-if="section.name">
            {{section.name}}
        </div>
        <div class="form-section">
            <div ng-repeat="row in section.rows"
                 class="form-row validates"
                 ng-class="{ required: row.required }">

                <div class='label' title="{{row.description}}">
                    {{row.name}}
                    <span ng-if="row.description"
                          class="ui-symbol">
                        i
                    </span>
                </div>
                <div class='controls'>
                    <div class="wrapper" ng-if="row.control">>
                        <mct-control key="row.control"
                                     ng-model="ngModel"
                                     ng-required="row.required"
                                     options="row.options"
                                     structure="row"
                                     name="{{row.key}}">
                        </mct-control>
                    </div>
                    <div ng-repeat="item in row.items" class="validates">
                        <mct-control key="item.control"
                                     ng-model="ngModel"
                                     ng-required="item.required"
                                     options="item.options"
                                     structure="item"
                                     name="{{item.key}}">
                        </mct-control>
                    </div>
                </div>

            </div>
        </div>
    </span>
</div>

</form>