<mct-container key="overlay" class="severity-{{ngModel.dialog.severity}}">
        <div class="abs top-bar">
            <div class="title">{{ngModel.dialog.title}}</div>
            <div class="hint">Do not navigate away from this page or close this browser tab while this operation is in progress.</div>
        </div>
        <div class="abs outline editor">
            <div class='abs contents l-dialog'>
                <div class="hint">{{ngModel.dialog.hint}}</div>

                <mct-include key="'progress-bar'"
                             ng-model="ngModel"
                             ng-hide="ngModel.dialog.progress === undefined"></mct-include>

                <!--<div ng-hide="ngModel.dialog.progress === undefined" style="background-color: darkgray; width: 100%; height: 1em;"><div ng-show="ngModel.dialog.progress > 0" style="color: #2e2e2e; background-color: lightgray; text-align: center; min-width: 2em; width: {{ngModel.dialog.progress}}%">{{ngModel.dialog.progress}} %</div></div>-->
                <div class="time-estimate" ng-hide="ngModel.dialog.progressText === undefined">{{ngModel.dialog.progressText}}</div>
            </div>
        </div>

        <div class="abs bottom-bar">
            <a ng-repeat="dialogAction in ngModel.dialog.actions"
               class="s-btn lg"
               ng-click="dialogAction.action()">
                {{dialogAction.label}}
            </a>
        </div>
</mct-container>