<div class="l-message"
     ng-class="'message-severity-' + ngModel.severity">
    <div class="w-message-contents">
        <div class="top-bar">
            <div class="title">{{ngModel.message}}</div>
        </div>
        <div class="message-body">
            <mct-include key="'progress-bar'"
                         ng-model="ngModel"
                         ng-show="ngModel.progressPerc !== undefined"></mct-include>
        </div>
        <div class="bottom-bar">
        </div>
    </div>
</div>
