<mct-container key="overlay">
    <div class="t-message-list c-overlay__contents">
        <div class="c-overlay__top-bar">
            <div class="c-overlay__dialog-title">{{ngModel.dialog.title}}</div>
            <div class="c-overlay__dialog-hint">Displaying {{ngModel.dialog.messages.length}} message<span
                    ng-show="ngModel.dialog.messages.length > 1 ||
                            ngModel.dialog.messages.length == 0">s</span>
            </div>
            <button
                ng-if="ngModel.dialog.topBarButton"
                class="c-button c-button--major"
                ng-click="ngModel.topBarButton.onClick">
                {{ ngModel.topBarButton.label }}
            </button>
        </div>
        <div class="w-messages c-overlay__messages">
            <mct-include
                ng-repeat="msg in ngModel.dialog.messages | orderBy: '-'"
                key="'notification-message'" ng-model="msg.model"></mct-include>
        </div>
        <div class="c-overlay__bottom-bar">
            <button ng-repeat="dialogAction in ngModel.dialog.actions"
               class="c-button c-button--major"
               ng-click="dialogAction.action()">
                {{ dialogAction.label }}
            </button>
        </div>
    </div>
</mct-container>
