<mct-container key="overlay">
    <div class="t-message-list">
        <div class="top-bar">
            <div class="dialog-title">{{ngModel.dialog.title}}</div>
            <div class="hint">Displaying {{ngModel.dialog.messages.length}} message<span ng-show="ngModel.dialog.messages.length > 1 ||
                                                                                                  ngModel.dialog.messages.length == 0">s</span>
            </div>
        </div>
        <div class="w-messages">
            <mct-include
                ng-repeat="msg in ngModel.dialog.messages | orderBy: '-'"
                key="'message'" ng-model="msg.model"></mct-include>
        </div>
        <div class="bottom-bar">
            <a ng-repeat="dialogAction in ngModel.dialog.actions"
               class="s-button major"
               ng-click="dialogAction.action()">
                {{dialogAction.label}}
            </a>
        </div>
    </div>
</mct-container>
