<div class="abs overlay">
    <div class="abs blocker"></div>
    <div class="abs holder">
        <a href=""
           ng-click="ngModel.cancel()"
           class="btn normal outline ui-symbol close">x</a>
        <div class="abs contents">
            <div class="abs top-bar">
                <div class="title">{{ngModel.title}}</div>
                <div class="hint">All fields marked <span class="ui-symbol req">*</span> are required.</div>
            </div>
            <div class="abs form outline editor">
                <div class='abs contents'>
                    <!-- mct-include key="'form'" ng-model="" -->
                    <textarea ng-model="ngModel.value"></textarea>
                </div>
            </div>
            <div class="abs bottom-bar">
                <a class='btn lg major' href='' ng-click="ngModel.confirm()">
                    OK
                </a>
                <a class='btn lg subtle' href='' ng-click="ngModel.cancel()">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>