<!-- Parent holder for time conductor. follow-mode | fixed-mode -->
<div ng-controller="TimeConductorController as tcController"
     class="holder grows flex-elem l-flex-row l-time-conductor {{modeModel.selected}}-mode">

    <div class="flex-elem holder time-conductor-icon">
        <div class="hand-little"></div>
        <div class="hand-big"></div>
    </div>

    <div class="flex-elem holder grows l-flex-col l-time-conductor-inner">
        <!-- Holds inputs and ticks -->
        <div class="l-time-conductor-ticks l-row-elem l-flex-row flex-elem no-margin">
            <form class="abs l-time-conductor-inputs-holder"
                  ng-submit="tcController.updateBoundsFromForm(formModel)">
                <span class="l-time-range-w start-w">
                    <span class="l-time-range-input-w start-date">
                        <mct-control key="'datetime-field'"
                                     structure="{
                                         format: 'utc',
                                         validate: tcController.validateStart
                                     }"
                                     ng-model="formModel"
                                     ng-mouseup="tcController.changing['start'] = true"
                                     ng-blur="tcController.changing['start'] = false; tcController.updateBoundsFromForm(formModel)"
                                     field="'start'"
                                     class="time-range-input">
                        </mct-control>
                    </span>
                    <span class="l-time-range-input-w time-delta start-delta"
                          ng-class="{'hide':(modeModel.selected === 'fixed')}">
                        -
                        <mct-control key="'datetime-field'"
                                     structure="{
                                        format: 'duration',
                                        validate: tcController.validateStartDelta
                                     }"
                                     ng-model="formModel"
                                     ng-mouseup="tcController.changing['startDelta'] = true"
                                     ng-blur="tcController.changing['startDelta'] = false; tcController.updateDeltasFromForm(formModel)"
                                     field="'startDelta'"
                                     class="hrs-min-input">
                        </mct-control>
                    </span>
                </span>


                <span class="l-time-range-w end-w">
                    <span class="l-time-range-input-w time-delta end-delta"
                          ng-class="{'hide':(modeModel.selected === 'fixed')}">
                        +
                        <mct-control key="'datetime-field'"
                                     structure="{
                                        format: 'duration',
                                        validate: tcController.validateEndDelta
                                     }"
                                     ng-model="formModel"
                                     ng-mouseup="tcController.changing['endDelta'] = true"
                                     ng-blur="tcController.changing['endDelta'] = false; tcController.updateDeltasFromForm(formModel)"
                                     field="'endDelta'"
                                     class="hrs-min-input">
                        </mct-control>
                    </span>
                    <span class="l-time-range-input-w end-date"
                          ng-controller="ToggleController as t2">
                        <mct-control key="'datetime-field'"
                                     structure="{
                                         format: 'utc',
                                         validate: tcController.validateEnd
                                     }"
                                     ng-model="formModel"
                                     ng-mouseup="tcController.changing['end'] = true"
                                     ng-blur="tcController.changing['end'] = false; tcController.updateBoundsFromForm(formModel)"
                                     field="'end'"
                                     class="time-range-input">
                        </mct-control>
                    </span>
                </span>

                <input type="submit" class="hidden">
            </form>
            <mct-conductor-axis></mct-conductor-axis>
        </div>

        <!-- Holds data availability, time of interest -->
        <div class="l-data-visualization l-row-elem l-flex-row flex-elem"></div>

        <!-- Holds time system and session selectors, and zoom control -->
        <div class="l-time-conductor-controls l-row-elem l-flex-row flex-elem">
            <mct-representation
                key="'mode-selector'"
                mct-object="domainObject"
                ng-model="modeModel"
                class="holder flex-elem menus-up mode-selector">
            </mct-representation>
            <mct-control
                key="'menu-button'"
                class="holder flex-elem menus-up time-system"
                ng-model="conductorModel.timeSystem"
                structure="{
                        text: 'UTC',
                        options: [
                            {name: 'UTC', key:'utc', glyph:'\u0043'},
                            {name: 'SCET', key:'scet', glyph:'\u0043'},
                            {name: 'SCLK', key:'sclk', glyph:'\u0043'}
                    ]}">
            </mct-control>
            <!-- Zoom control -->
            <div class="l-time-conductor-zoom-w grows flex-elem l-flex-row">
                <span class="time-conductor-zoom-current-range flex-elem flex-fixed holder">Mars Minutes</span>
                <input class="time-conductor-zoom flex-elem" type="range" />
            </div>
        </div>

    </div>
</div>