<!-- Parent holder for time conductor. follow-mode | fixed-mode -->
<style>
    .start-delta {
        left: 180px;
    }
</style>
<div ng-controller="TimeConductorController as tcController"
     class="l-time-conductor l-flex-col {{modeModel.selected}}-mode">
    <!-- Holds inputs and ticks -->
    <div class="l-time-conductor-ticks l-row-elem l-flex-row flex-elem no-margin">
        <form class="abs l-time-conductor-inputs-holder"
              ng-submit="tcController.updateBoundsFromForm(formModel)">
        <span class="l-time-range-input-w start-date">
            <mct-control key="'datetime-field'"
                         structure="{
                             format: 'utc',
                             validate: tcController.validateStart
                         }"
                         ng-model="formModel"
                         ng-mouseup="tcController.changing['start'] = true"
                         ng-blur="tcController.changing['start'] = false; tcController.updateBoundsFromForm(formModel)"
                         field="'start'"
                         class="time-range-start">
            </mct-control>
        </span>
        <span class="l-time-range-input-w start-delta"
              ng-class="{'hide':(modeModel.selected === 'fixed')}">
            <mct-control key="'datetime-field'"
                         structure="{
                            format: 'duration',
                            validate: tcController.validateStartDelta
                         }"
                         ng-model="formModel"
                         ng-mouseup="tcController.changing['startDelta'] = true"
                         ng-blur="tcController.changing['startDelta'] = false; tcController.updateDeltasFromForm(formModel)"
                         field="'startDelta'"
                         class="time-delta-start">
            </mct-control>
        </span>
        <span class="l-time-range-input-w end-delta"
              ng-class="{'hide':(modeModel.selected === 'fixed')}">
            <mct-control key="'time-field'"
                         structure="{
                            format: 'duration',
                            validate: tcController.validateEndDelta
                         }"
                         ng-model="formModel"
                         ng-mouseup="tcController.changing['endDelta'] = true"
                         ng-blur="tcController.changing['endDelta'] = false; tcController.updateDeltasFromForm(formModel)"
                         field="'endDelta'"
                         class="time-delta-end">
            </mct-control>
        </span>
        <span class="l-time-range-input-w end-date"
              ng-controller="ToggleController as t2">
            <mct-control key="'datetime-field'"
                         structure="{
                             format: 'utc',
                             validate: tcController.validateEnd
                         }"
                         ng-model="formModel"
                         ng-mouseup="tcController.changing['end'] = true"
                         ng-blur="tcController.changing['end'] = false; tcController.updateBoundsFromForm(formModel)"
                         field="'end'"
                         class="time-range-end">
            </mct-control>
        </span>
        <input type="submit" class="hidden">
        </form>
        <mct-conductor-axis></mct-conductor-axis>
    </div>

    <!-- Holds data availability, time of interest -->
    <div class="l-data-visualization l-row-elem l-flex-row flex-elem"></div>

    <!-- Holds time system and session selectors, and zoom control -->
    <div class="l-time-system-zoom l-row-elem l-flex-row flex-elem">
        <mct-representation
            key="'mode-selector'"
            mct-object="domainObject"
            ng-model="modeModel"
            class="holder flex-elem menus-up mode-selector">
        </mct-representation>
        <mct-control
                key="'menu-button'"
                class="holder flex-elem menus-up time-system"
                ng-model="conductorModel.timeSystem"
                structure="{
                    text: 'UTC',
                    options: [
                        {name: 'UTC', key:'utc', glyph:'\u0043'},
                        {name: 'SCET', key:'scet', glyph:'\u0043'},
                        {name: 'SCLK', key:'sclk', glyph:'\u0043'}
                ]}">
        </mct-control>
    </div>
</div>