<!-- Parent holder for time conductor. follow-mode | fixed-mode -->
<style>
    .start-delta {
        left: 180px;
    }
    .end-delta {
        right: 0;
    }
</style>
<div ng-controller="TimeConductorController as tcController"
     class="l-time-conductor l-flex-col {{modeModel.selected.metadata.key}}-mode {{timeSystemModel.selected.metadata.key}}-time-system">
    <!-- Holds inputs and ticks -->
    <div class="l-time-conductor-ticks l-row-elem l-flex-row flex-elem no-margin">
        <form class="abs l-time-conductor-inputs-holder"
              ng-submit="tcController.updateBoundsFromForm(formModel)">
        <span class="l-time-range-input-w start-date">
            <mct-control key="'datetime-field'"
                         structure="{
                             format: 'utc',
                             validate: tcController.validation.validateStart
                         }"
                         ng-model="formModel"
                         ng-mouseup="changing['start'] = true"
                         ng-blur="changing['start'] = false; tcController.updateBoundsFromForm(formModel)"
                         field="'start'"
                         class="time-range-start">
            </mct-control>
        </span>
        <span class="l-time-range-input-w start-delta"
              ng-class="{'hide':(modeModel.selected.metadata.key === 'fixed')}">
            <mct-control key="'datetime-field'"
                         structure="{
                            format: 'duration',
                            validate: tcController.validation.validateStartDelta
                         }"
                         ng-model="formModel"
                         ng-blur="tcController.updateDeltasFromForm(formModel)"
                         field="'startDelta'"
                         class="time-delta-start">
            </mct-control>
        </span>
        <span class="l-time-range-input-w end-delta"
              ng-class="{'hide':(modeModel.selected.metadata.key === 'fixed')}">
            <mct-control key="'datetime-field'"
                         structure="{
                            format: 'duration',
                            validate: tcController.validation.validateEndDelta
                         }"
                         ng-model="formModel"
                         ng-blur="tcController.updateDeltasFromForm(formModel)"
                         field="'endDelta'"
                         class="time-delta-end">
            </mct-control>
        </span>
        <span class="l-time-range-input-w end-date"
              ng-controller="ToggleController as t2">
            <mct-control key="'datetime-field'"
                         structure="{
                             format: 'utc',
                             validate: tcController.validation.validateEnd
                         }"
                         ng-model="formModel"
                         ng-mouseup="changing['end'] = true"
                         ng-blur="changing['end'] = false; tcController.updateBoundsFromForm(formModel)"
                         field="'end'"
                         class="time-range-end">
            </mct-control>
        </span>
        <input type="submit" class="hidden">
        </form>
        <mct-conductor-axis></mct-conductor-axis>
    </div>

    <!-- Holds data availability, time of interest -->
    <div class="l-data-visualization l-row-elem l-flex-row flex-elem"></div>

    <!-- Holds time system and session selectors, and zoom control -->
    <div class="l-time-system-zoom l-row-elem l-flex-row flex-elem">
        <mct-representation
            key="'mode-selector'"
            mct-object="domainObject"
            ng-model="modeModel"
            class="holder flex-elem menus-up mode-selector">
        </mct-representation>
        <mct-control
                key="'menu-button'"
                class="holder flex-elem menus-up time-system"
                structure="{
                    text: timeSystemModel.selected.metadata.name,
                    click: tcController.selectTimeSystem,
                    options: timeSystemModel.options
                }">
        </mct-control>
    </div>
</div>