/******************************************************** PROGRESS BAR */
@keyframes progressIndeterminate {
    from { left: -100%; width: 0; }
    to { left: 100%; width: 200%;}
}

.c-progress-bar {
    background: $colorProgressBarHolder;
    display: block;
    min-height: $progressBarMinH;
    width: 100%;

    &__bar {
        background: $colorProgressBar;
        height: 100%;

        &.--indeterminate {
            position: absolute;
            animation: progressIndeterminate 1.5s ease-in-out infinite;
        }
    }
}
