@mixin visibleRegexButton {
    opacity: 1;
    padding: 1px 3px;
    width: 30px;
}

.c-search {
    @include wrappedInput();
    padding-top: 2px;
    padding-bottom: 2px;

    &:before {
        // Mag glass icon
        content: $glyph-icon-magnify;
    }

    &__use-regex {
        // Button
        $c: $colorBodyFg;
        background: rgba($c, 0.2);
        border: 1px solid rgba($c, 0.3);
        color: $c;
        border-radius: $controlCr;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 0.9em;
        margin-left: $interiorMarginSm;
        min-width: 0;
        opacity: 0;
        order: 2;
        overflow: hidden;
        padding: 1px 0;
        transform-origin: left;
        transition: $transOut;
        width: 0;

        &.is-active {
            $c: $colorBtnActiveBg;
            @include visibleRegexButton();
            background: rgba($c, 0.3);
            border-color: $c;
            color: $c;
        }
    }

    &__clear-input {
        display: none;
        order: 99;
        padding: 1px 0;
    }

    &.is-active {
        .c-search__use-regex {
            margin-left: 0;
        }

        .c-search__clear-input {
            display: block;
        }
    }

    input[type='text'],
    input[type='search'] {
        margin-left: $interiorMargin;
        order: 3;
        text-align: left;
    }

    &:hover {
        .c-search__use-regex {
            @include visibleRegexButton();
            transition: $transIn;
        }
    }
}
