.c-elements-pool {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto !important;

    > * + * {
        margin-top: $interiorMargin;
    }

    &__search {
        flex: 0 0 auto;
    }

    &__elements {
        flex: 1 1 auto;
        overflow: auto;
    }

    .c-grippy {
        $d: 8px;
        flex: 0 0 auto;
        margin-right: $interiorMarginSm;
        transform: translateY(-2px);
        width: $d; height: $d;
    }

    &.is-context-clicked {
        box-shadow: inset $colorItemTreeSelectedBg 0 0 0 1px;
    }

    .hover {
        background-color: $colorItemTreeSelectedBg;
    }
}

.js-last-place {
    height: 10px;
}