/******************************* SHELL */
.l-shell {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    &__drawer {
        background: $drawerBg;
        display: flex;
        flex-direction: column;
        height: 0;
        min-height: 0;
        max-height: 15%;
        overflow: hidden;
        transition: $transIn;

        &.is-expanded {
            height: max-content;
        }
    }

    &__pane-tree {
        width: 40%;

        [class*="collapse-button"] {
            // For mobile, collapse button becomes menu icon
            body.mobile & {
                @include cClickIconButton();
                color: $colorKey !important;
                position: absolute;
                right: -18px;
                top: 0;
                transform: translateX(100%);
                width: $mobileMenuIconD;
                z-index: 2;

                &:before {
                    content: $glyph-icon-menu-hamburger;
                }
            }
        }
    }

    &__pane-tree,
    &__pane-inspector,
    &__pane-main {
        .c-pane__contents {
            display: flex;
            flex-flow: column nowrap;
            overflow-x: hidden;
        }
    }

    &__pane-tree,
    &__pane-main {
        .c-pane__contents {
            > * {
                //flex: 0 0 auto;

                + * {
                    margin-top: $interiorMarginLg;
                }
            }
        }
    }

    body.mobile & {
        &__pane-main,
        &__pane-tree {
            padding: $interiorMarginLg;
        }

        &__pane-tree {
            background: linear-gradient(90deg, transparent 70%, rgba(black, 0.2) 99%, rgba(black, 0.3));

            &[class*="--collapsed"] {
                [class*="collapse-button"] {
                    right: -8px;
                }
            }
        }
    }

    body.phone.portrait & {
        &__pane-tree {
            width: calc(100% - #{$mobileMenuIconD + (2 * nth($shellPanePad, 2))});

            + .c-pane {
                // Hide pane-main when this pane is expanded
                opacity: 0;
                pointer-events: none;
            }

            &[class*="--collapsed"] + .c-pane {
                // Show pane-main when tree is collapsed
                opacity: 1;
                pointer-events: inherit;
                transition: opacity 250ms ease 250ms;
            }
        }
    }

    &__head,
    &__pane-inspector {
        body.mobile & {
            display: none;
        }
    }

    &__head,
    &__status {
        flex: 0 0 auto;
        display: flex;
    }

    /******************************* HEAD */
    body.mobile & .l-shell__main-view-browse-bar {
        margin-left: $mobileMenuIconD; // Make room for the hamburger!

        [class*='__actions__edit'] {
            display: none;
        }
    }

    &__head {
        align-items: stretch;
        background: $colorHeadBg;
        justify-content: space-between;
        padding: $interiorMargin $interiorMargin + 2;

        > [class*="__"] + [class*="__"] {
            margin-left: $interiorMargin;
        }

        [class*='__head__collapse-button'] {
            align-self: start;
            flex: 0 0 auto;
            margin-top: 6px;

            &:before {
                content: $glyph-icon-arrow-down;
                font-size: 1.1em;
            }
        }

        &-section {
            // Subdivides elements across the head
            display: flex;
            flex: 0 1 auto;
            padding: 0 $interiorMargin;
        }

        &--expanded {
            .c-indicator__label {
                transition: none !important;
            }

            [class*='__head__collapse-button'] {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__controls {
        $brdr: 1px solid $colorInteriorBorder;
        border-right: $brdr;
        border-left: $brdr;
        align-items: start;
    }

    &__create-button,
    &__app-logo {
        flex: 0 0 auto;
    }

    &__create-button { margin-right: $interiorMarginLg; }

    &__indicators {
        flex: 1 1 auto;
        flex-wrap: wrap;
        justify-content: flex-end;
        [class*='indicator-clock'] { order: 90; }

        .c-indicator .label {
            font-size: 0.9em;
        }
    }

    /******************************* MAIN AREA */
    &__main-view-browse-bar {
        flex: 0 0 auto;
    }

    &__main-container {
        // Wrapper for main views
        flex: 1 1 auto !important;
        height: 0; // Chrome 73 overflow bug fix
        overflow: auto;
    }

    &__tree {
        // Tree component within __pane-tree
        flex: 1 1 auto !important;
    }

    &__time-conductor {
        border-top: 1px solid $colorInteriorEdge;
        padding: $interiorMargin;
    }

    //&__main {
        //> .c-pane {
        //    padding: nth($shellPanePad, 1) 0;
        //}
    //}

    body.desktop & {
        &__main {
            // Top and bottom padding in container that holds tree, __pane-main and Inspector
            //padding: $interiorMargin 0;
            min-height: 0;

            //> .c-pane {
            //    padding-top: 0;
            //    padding-bottom: 0;
            //}
        }

        &__pane-main-view {
            padding-bottom: $interiorMarginLg;
        }

        &__main-view-browse-bar {
            padding: $interiorMarginLg $interiorMarginLg 0 0;
        }

        &__pane-tree,
        &__pane-inspector {
            max-width: 70%;
        }

        &__pane-tree {
            width: 300px;
            padding: $interiorMargin $interiorMarginLg;

            > .c-pane__handle {
                top: $interiorMargin;
                bottom: $interiorMargin;
            }
        }

        &__pane-inspector {
            $br: $basicCr;
            $m: $interiorMargin;
            background: $colorInspectorBg;
            border-top-left-radius: $br;
            width: 200px;
            padding: $m $m $m $m * 2 !important;

            > .c-pane__handle {
                background: none;
                left: 2px;
            }
        }
    }

    &__toolbar {
        $p: $interiorMargin;
        background: $editUIBaseColor;
        border-radius: $basicCr;
        height: $p + 24px; // Need to standardize the height
        padding: $p;
    }
}

.is-editing {
    .l-shell__main-container {
        box-shadow: $colorBodyBg 0 0 0 1px, $editUIAreaShdw;
        margin: 3px;

        &[s-selected] {
            // Provide a clearer selection context articulation for the main edit area
            box-shadow: $colorBodyBg 0 0 0 1px, $editUIAreaShdwSelected;
        }
    }
}

.c-drawer {
    /* New sliding overlay or push element to contain things
    * Designed for mobile and compact desktop scenarios
    * Variations:
    * --overlays: position absolute, overlays neighboring elements
    * --push: position relative, pushs/collapses neighboring elements
    * --align-left, align-top: opens from left or top respectively
    * &.is-expanded: applied when expanded.
     */

    transition: $transOut;
    min-height: 0;
    min-width: 0;
    overflow: hidden;

    &:not(.is-expanded) {
        // When collapsed, hide internal elements
        > * {
            display: none;
        }
    }

    &.c-drawer--align-left {
        height: 100%;
    }

    &.c-drawer--align-top {
        // Need anything here?
    }

    &.c-drawer--overlays {
        position: absolute;
        z-index: 3;

        &.is-expanded {
            // Height and width must be set per usage
            &.c-drawer--align-left {
                box-shadow: rgba(black, 0.7) 3px 0 20px;
            }

            &.c-drawer--align-top {
                box-shadow: rgba(black, 0.7) 0 3px 20px;
            }
        }
    }

    &.c-drawer--push {
        position: relative;

        &.is-expanded {
            // Height and width must be set per usage
            &.c-drawer--align-left {
                box-shadow: rgba(black, 0.2) 3px 0 20px;
                margin-right: $interiorMarginLg;
            }

            &.c-drawer--align-top {
                box-shadow: rgba(black, 0.2) 0 3px 20px;
                margin-bottom: $interiorMarginLg; // Not sure this is desired here
            }
        }
    }
}

