// Global
$colorBodyBg: #333;
$colorBodyFg: #999;
$colorGenBg: #222;
$colorStatusBarBg: #000;
$colorKey: #0099cc;
$colorKeySelectedBg: #005177;
$colorKeyFg: #fff;
$colorKeyHov: #00c0f6;
$colorEditAreaBg: #31363e;
$colorEditAreaFg: #587ab5;
$colorInteriorBorder: rgba($colorBodyFg, 0.1);
$colorA: #ccc;
$colorAHov: #fff;
$contrastRatioPercent: 7%;
$hoverRatioPercent: 10%;
$basicCr: 3px;
$controlCr: 2px;
$smallCr: 2px;
$overlayCr: 11px;

// Buttons and Controls
$colorBtnBg: #454545;
$colorBtnBgHov: #5e5e5e;
$colorBtnFg: $colorBodyFg;
$colorBtnFgHov: #b3b3b3;
$colorBtnIcon: $colorBtnFg;
$colorBtnIconHov: $colorBtnFgHov;
$colorBtnMajorBg: $colorKey;
$colorBtnMajorBgHov: deepskyblue;
$colorBtnMajorFg: $colorKeyFg;
$colorBtnMajorFgHov: white;
$colorClickIcon: $colorKey;
$colorClickIconHov: $colorKeyHov;
$colorToggleIcon: rgba($colorBodyFg, 0.5);
$colorToggleIconActive: $colorKey;
$colorToggleIconHov: rgba($colorToggleIconActive, 0.5);
$colorInvokeMenu: #fff;
$contrastInvokeMenuPercent: 30%;
$shdwBtns: rgba(black, 0.2) 0 1px 2px;
$shdwBtnsOverlay: rgba(black, 0.5) 0 1px 5px;
$sliderColorBase: $colorKey;
$sliderColorRangeHolder: rgba(black, 0.1);
$sliderColorRange: rgba($sliderColorBase, 0.3);
$sliderColorRangeHov: rgba($sliderColorBase, 0.5);
$sliderColorKnob: $sliderColorBase;
$sliderColorKnobHov: #33ccff;
$sliderColorRangeValHovBg: rgba($sliderColorBase, 0.1);
$sliderColorRangeValHovFg: $colorKeyFg;
$sliderKnobW: 15px;
$sliderKnobR: 2px;
$timeControllerToiLineColor: #00c2ff;
$timeControllerToiLineColorHov: #fff;
$colorTransLucBg: #666; // Used as a visual blocking element over variable backgrounds, like imagery

// Foundation Colors
$colorAlt1: #ffc700;
$colorAlert: #ff3c00;
$colorWarningHi: #cc0000;
$colorWarningLo: #ff9900;
$colorDiagnostic: #a4b442;
$colorCommand: #3693bd;
$colorInfo: #2294a2;
$colorOk: #33cc33;
$colorIconLink: #49dedb;
$colorPausedBg: #c56f01;
$colorPausedFg: #fff;
$colorCreateBtn: $colorKey;
$colorGridLines: rgba(#fff, 0.05);
$colorInvokeMenu: #fff;
$colorObjHdrTxt: $colorBodyFg;
$colorObjHdrIc: #cccccc;
$colorTick: rgba(white, 0.2);
$colorSelectableSelectedPrimary: $colorKey;
$colorSelectableSelectedSecondary: #004d66;
$colorSelectableHov: $colorSelectableSelectedSecondary;

// Menu colors
$colorMenuBg: #6e6e6e;
$colorMenuFg: white;
$colorMenuIc: #24c8ff;
$colorMenuHovBg: #878787;
$colorMenuHovFg: #fff;
$colorMenuHovIc: $colorMenuHovFg;
$shdwMenu: none;
$shdwMenuText: rgba(black, 0.1) 0 1px 2px;
$colorCreateMenuLgIcon: $colorMenuFg;
$colorCreateMenuText: $colorMenuFg;

// Form colors
$colorCheck: $colorKey;
$colorFormRequired: $colorAlt1;
$colorFormValid: $colorOk;
$colorFormError: $colorWarningHi;
$colorFormInvalid: #ff3300;
$colorFormFieldErrorBg: $colorFormError;
$colorFormFieldErrorFg: rgba(#fff, 0.6);
$colorFormLines: rgba(#fff, 0.1);
$colorFormSectionHeader: rgba(#fff, 0.1);
$colorInputBg: rgba(#000, 0.1);
$colorInputFg: #cccccc;
$colorInputPlaceholder: #666666;
$colorFormText: rgba(#fff, 0.5);
$colorInputIcon: #737373;
$colorFieldHint: #cccccc;

// Inspector
$colorInspectorBg: #3b3b3b;
$colorInspectorFg: $colorBodyFg;
$colorInspectorPropName: #737373;
$colorInspectorPropVal: #bfbfbf;
$colorInspectorSectionHeaderBg: $colorFormSectionHeader;
$colorInspectorSectionHeaderFg: #a1a1a1;

// Status colors, mainly used for messaging and item ancillary symbols
$colorStatusFg: #ccc;
$colorStatusDefault: #ccc;
$colorStatusInfo: $colorInfo;
$colorStatusAlert: $colorAlert;
$colorStatusError: #d4585c;
$colorStatusAvailable: $colorKey;
$colorStatusBtnBg: $colorBtnBg;
$colorProgressBarOuter: rgba(#000, 0.1);
$colorProgressBarAmt: $colorKey;
$progressBarHOverlay: 15px;
$progressBarStripeW: 20px;
$shdwStatusIc: rgba(black, 0.4) 0 1px 2px;
$animPausedPulseDur: 500ms;

// Selects
$colorSelectBg: $colorBtnBg;
$colorSelectFg: $colorBtnFg;

// Limits, status and staleness colors
$colorTelemFresh: #cccccc;
$colorTelemStale: #666666;
$styleTelemStale: italic;
$colorLimitYellowBg: rgba($colorWarningLo, 0.3);
$colorLimitYellowIc: $colorWarningLo;
$colorLimitRedBg: rgba($colorWarningHi, 0.3);
$colorLimitRedIc: $colorWarningHi;

// Bubble colors
$colorInfoBubbleBg: #ddd;
$colorInfoBubbleFg: #666;
$colorThumbsBubbleFg: #b3b3b3;
$colorThumbsBubbleBg: #4d4d4d;

// Overlay
$colorOvrBlocker: rgba(black, 0.7);
$colorOvrBg: #4d4d4d;
$colorOvrFg: #e6e6e6;
$colorOvrBtnBg: gray;
$colorOvrBtnFg: #fff;
$colorFieldHintOverlay: #999999;
$durLargeViewExpand: 250ms;

// Items
$colorItemBg: #404040;
$colorItemBgHov: #595959;
$colorItemFg: #bfbfbf;
$colorItemFgDetails: #8c8c8c;
$colorItemIc: $colorKey;
$colorItemSubIcons: $colorItemFgDetails;
$colorItemOpenIcon: $colorItemFgDetails;
$shdwItemText: rgba(black, 0.1) 0 1px 2px;
$colorItemBgSelected: $colorKey;

// Tabular
$colorTabBorder: #404040;
$colorTabBodyBg: #1a1a1a;
$colorTabBodyFg: gray;
$colorTabHeaderBg: rgba(white, 0.1);
$colorTabHeaderFg: $colorBodyFg;
$colorTabHeaderBorder: $colorBodyBg;

// Plot
$colorPlotBg: rgba(black, 0.1);
$colorPlotFg: $colorBodyFg;
$colorPlotHash: $colorTick;
$stylePlotHash: dashed;
$colorPlotAreaBorder: $colorInteriorBorder;
$colorPlotLabelFg: #666666;
$legendCollapsedNameMaxW: 50%;
$legendHoverValueBg: rgba($colorBodyFg, 0.1);

// Tree
$colorItemTreeHoverBg: #4d4d4d;
$colorItemTreeHoverFg: #b3b3b3;
$colorItemTreeIcon: $colorKey;
$colorItemTreeIconHover: #33ccff;
$colorItemTreeFg: $colorBodyFg;
$colorItemTreeSelectedBg: #006080;
$colorItemTreeSelectedFg: #cccccc;
$colorItemTreeEditingBg: #344154;
$colorItemTreeEditingFg: $colorEditAreaFg;
$colorItemTreeVC: $colorBodyFg;
$colorItemTreeVCHover: #cccccc;
$colorItemTreeSelectedVC: $colorItemTreeVC;
$shdwItemTreeIcon: 0.6;

// Images
$colorThumbHoverBg: $colorItemTreeHoverBg;

// Scrollbar
$scrollbarTrackSize: 7px;
$scrollbarTrackShdw: rgba(#000, 0.5) 0 1px 5px;
$scrollbarTrackColorBg: transparent; //rgba(#000, 0.4);
$scrollbarThumbColor: #4d4d4d;
$scrollbarThumbColorHov: #525252;
$scrollbarThumbColorOverlay: #666666;
$scrollbarThumbColorOverlayHov: #6b6b6b;
$scrollbarThumbColorMenu: #a1a1a1;
$scrollbarThumbColorMenuHov: #a6a6a6;

// Splitter
// All splitterD* values MUST both be either odd or even numbers
$splitterD: 20px;
$splitterDSm: 10px; // Smaller splitter, used inside elements like a Timeline view
$splitterHandleD: 2px;
$colorSplitterBaseBg: #4d4d4d;
$colorSplitterBg: $colorSplitterBaseBg;
$splitterShdw: rgba(black, 0.4) 0 0 3px;
$splitterEndCr: none;
$colorSplitterHover: #666666;
$colorSplitterActive: $colorKey;

// Minitabs
$uePaneMiniTabH: 24px;
$uePaneMiniTabW: 8px;
$colorMiniTabBg: $colorSplitterBg;
$colorMiniTabFg: #333333;
$colorMiniTabBgHov: $colorSplitterHover;
$colorMiniTabFgHov: #fff;

// Mobile
$colorMobilePaneLeft: #262626;
$colorMobilePaneLeftTreeItemBg: #2e2e2e;
$colorMobileSelectListTreeItemBg: rgba(#fff, 0.05);

// Datetime Picker
$colorCalCellHovBg: $colorKey;
$colorCalCellHovFg: $colorKeyFg;
$colorCalCellSelectedBg: $colorItemTreeSelectedBg;
$colorCalCellSelectedFg: $colorItemTreeSelectedFg;
$colorCalCellInMonthBg: #616161;

// Palettes
$colorPaletteFg: #bbbbbb;
$colorPaletteSelected: #fff;
$shdwPaletteFg: black 0 0 2px;
$shdwPaletteSelected: inset 0 0 0 1px #000;

// About Screen
$colorAboutLink: #84b3ff;

// Loading
$colorLoadingFg: $colorAlt1;
$colorLoadingBg: rgba($colorBodyFg, 0.2);