<span>
    <div class="object-browse-bar bar abs">

        <div class="items-select left abs">
            <mct-representation key="'object-header'" mct-object="domainObject">
            </mct-representation>
        </div>

        <div class="view-controls sort-controls btn-bar right abs">

            <mct-representation key="'action-group'"
                                mct-object="domainObject"
                                parameters="{ category: 'view-control' }">
            </mct-representation>

            <mct-representation key="'switcher'"
                                mct-object="domainObject"
                                ng-model="representation">
            </mct-representation>
        </div>

    </div>

    <div class='object-holder abs vscroll'>
        <mct-representation key="representation.selected.key"
                            mct-object="representation.selected.key && domainObject">
        </mct-representation>
    </div>
</span>