// At the last, hide .l-splash-holder and show .holder-all
.l-splash-holder.fadeout {
    @include trans-prop-nice($props: opacity, $dur: 1000ms);
    opacity: 0;
    pointer-events: none;
}

.user-environ .holder-all {
    opacity: 1;
    pointer-events: inherit;
}