.l-flex {
    &.l-flex-justify {
        justify-content: space-between;
    }
    .l-flex-row,
    &.l-flex-row {
        display: flex;
        flex-flow: row nowrap;
        div, span {
            //@include tmpBorder();
        }
        > div, > span {
            //flex: 1 1 0;
        }
    }
    .l-flex-max {
        flex: 1 0 !important;
    }

    .flex-ignore {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 1 auto;
    }
}

// TEMP, move out of here once working
.object-browse-bar.bar > div.abs {
    @include test(green);
}


.l-flex-row .title-label {
    @include test(blue);
    flex: 1 0 !important;
}

