@font-face {
	/*
	* Use https://www.web-font-generator.com/ to gen fonts
	*/
	font-family: 'symbolsfont';
	src: url('../fonts/symbols/wtdsymbols.eot');
	src: url('../fonts/symbols/wtdsymbols.eot?#iefix') format('embedded-opentype'),
	url('../fonts/symbols/wtdsymbols.woff') format('woff'),
	url('../fonts/symbols/wtdsymbols.ttf') format('truetype'),
	url('../fonts/symbols/wtdsymbols.svg#armataregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ui-symbol {
	font-family: 'symbolsfont';
}