a {
	color: #ccc;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: #fff;
	}
}

body, html {
	background-color: $colorBodyBg;
	color: $colorBodyFg;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

em {
	color: rgba(white, 0.2);
	font-style: normal;
}

input, textarea {
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	font-size: 1.7em;
	font-weight: normal !important;
	line-height: 120%;
	margin-bottom: 20px;
	margin-top: 0;
}

p {
	margin-bottom: $interiorMarginLg;
}

span {
	/* 618 DEBUG
	box-sizing: border-box;
	*/
}

.abs {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: auto;
	width: auto;
}

.code {
	font-family: "Lucida Console", monospace;
	font-size: 0.7em;
	line-height: 150%;
	white-space: pre;
}

.align-right {
	text-align: right;
}

.centered {
	text-align: center;
}

.colorKey {
	color: $colorKey;
}

.ds {
	@include box-shadow(rgba(#000, 0.7) 0 4px 10px 2px);
}

.hide,
.hidden {
	display: none !important;
}

.sep {
	color: rgba(#fff, 0.2);
}