@mixin glyph($unicode, $family: 'symbolsfont') {
    &:before {
        content: $unicode;
        font-family: $family;
    }
}

/************************** CHAR UNICODES */

$glyph-icon-alert-rect: '\e900';
$glyph-icon-alert-triangle: '\e901';
$glyph-icon-arrow-down: '\e902';
$glyph-icon-arrow-left: '\e903';
$glyph-icon-arrow-right: '\e904';
$glyph-icon-arrow-double-up: '\e905';
$glyph-icon-arrow-tall-up: '\e906';
$glyph-icon-arrow-tall-down: '\e907';
$glyph-icon-arrow-double-down: '\e908';
$glyph-icon-arrow-up: '\e909';
$glyph-icon-asterisk: '\e910';
$glyph-icon-bell: '\e911';
$glyph-icon-box: '\e912';
$glyph-icon-box-with-arrow: '\e913';
$glyph-icon-check: '\e914';
$glyph-icon-connectivity: '\e915';
$glyph-icon-database-in-brackets: '\e916';
$glyph-icon-eye-open: '\e917';
$glyph-icon-gear: '\e918';
$glyph-icon-hourglass: '\e919';
$glyph-icon-info: '\e920';
$glyph-icon-link: '\e921';
$glyph-icon-lock: '\e922';
$glyph-icon-minus: '\e923';
$glyph-icon-people: '\e924';
$glyph-icon-person: '\e925';
$glyph-icon-plus: '\e926';
$glyph-icon-trash: '\e927';
$glyph-icon-x: '\e928';
$glyph-icon-brackets: '\e929';
$glyph-icon-arrows-out: '\e1000';
$glyph-icon-arrows-right-left: '\e1001';
$glyph-icon-arrows-up-down: '\e1002';
$glyph-icon-bullet: '\e1004';
$glyph-icon-calendar: '\e1005';
$glyph-icon-chain-links: '\e1006';
$glyph-icon-collapse-pane-left: '\e1007';
$glyph-icon-collapse-pane-right: '\e1008';
$glyph-icon-download: '\e1009';
$glyph-icon-duplicate: '\e1010';
$glyph-icon-folder-new: '\e1011';
$glyph-icon-fullscreen-collapse: '\e1012';
$glyph-icon-fullscreen-expand: '\e1013';
$glyph-icon-layers: '\e1014';
$glyph-icon-line-horz: '\e1015';
$glyph-icon-magnify: '\e1016';
$glyph-icon-magnify-in: '\e1017';
$glyph-icon-magnify-out: '\e1018';
$glyph-icon-menu-hamburger: '\e1019';
$glyph-icon-move: '\e1020';
$glyph-icon-new-window: '\e1021';
$glyph-icon-paint-bucket: '\e1022';
$glyph-icon-pause: '\e1023';
$glyph-icon-pencil: '\e1024';
$glyph-icon-play: '\e1025';
$glyph-icon-plot-resource: '\e1026';
$glyph-icon-pointer-left: '\e1027';
$glyph-icon-pointer-right: '\e1028';
$glyph-icon-refresh: '\e1029';
$glyph-icon-save: '\e1030';
$glyph-icon-sine: '\e1031';
$glyph-icon-T: '\e1032';
$glyph-icon-thumbs-strip: '\e1033';
$glyph-icon-two-parts-both: '\e1034';
$glyph-icon-two-parts-one-only: '\e1035';
$glyph-icon-resync: '\e1036';
$glyph-icon-x-in-circle: '\e1038';
$glyph-icon-brightness: '\e1039';
$glyph-icon-contrast: '\e1040';
$glyph-icon-reset: '\e1037';
$glyph-icon-activity: '\e1100';
$glyph-icon-activity-mode: '\e1101';
$glyph-icon-autoflow-tabular: '\e1102';
$glyph-icon-clock: '\e1103';
$glyph-icon-database: '\e1104';
$glyph-icon-database-query: '\e1105';
$glyph-icon-dataset: '\e1106';
$glyph-icon-datatable: '\e1107';
$glyph-icon-dictionary: '\e1108';
$glyph-icon-folder: '\e1109';
$glyph-icon-image: '\e1110';
$glyph-icon-layout: '\e1111';
$glyph-icon-object: '\e1112';
$glyph-icon-object-unknown: '\e1113';
$glyph-icon-packet: '\e1114';
$glyph-icon-page: '\e1115';
$glyph-icon-plot-overlay: '\e1116';
$glyph-icon-plot-stacked: '\e1117';
$glyph-icon-session: '\e1118';
$glyph-icon-tabular: '\e1119';
$glyph-icon-tabular-lad: '\e1120';
$glyph-icon-tabular-lad-set: '\e1121';
$glyph-icon-tabular-realtime: '\e1122';
$glyph-icon-tabular-scrolling: '\e1123';
$glyph-icon-telemetry: '\e1124';
$glyph-icon-telemetry-panel: '\e1125';
$glyph-icon-timeline: '\e1126';
$glyph-icon-timer: '\e1127';
$glyph-icon-topic: '\e1128';
$glyph-icon-box-with-dashed-lines: '\e1129';
$glyph-icon-stop: '\e1130';

/************************** 16 PX CLASSES */

.icon-alert-rect {  @include glyph($glyph-icon-alert-rect); }
.icon-alert-triangle {  @include glyph($glyph-icon-alert-triangle); }
.icon-arrow-down {  @include glyph($glyph-icon-arrow-down); }
.icon-arrow-left {  @include glyph($glyph-icon-arrow-left); }
.icon-arrow-right {  @include glyph($glyph-icon-arrow-right); }
.icon-arrow-double-up {  @include glyph($glyph-icon-arrow-double-up); }
.icon-arrow-tall-up {  @include glyph($glyph-icon-arrow-tall-up); }
.icon-arrow-tall-down {  @include glyph($glyph-icon-arrow-tall-down); }
.icon-arrow-double-down {  @include glyph($glyph-icon-arrow-double-down); }
.icon-arrow-up {  @include glyph($glyph-icon-arrow-up); }
.icon-asterisk {  @include glyph($glyph-icon-asterisk); }
.icon-bell {  @include glyph($glyph-icon-bell); }
.icon-box {  @include glyph($glyph-icon-box); }
.icon-box-with-arrow {  @include glyph($glyph-icon-box-with-arrow); }
.icon-check {  @include glyph($glyph-icon-check); }
.icon-connectivity {  @include glyph($glyph-icon-connectivity); }
.icon-database-in-brackets {  @include glyph($glyph-icon-database-in-brackets); }
.icon-eye-open {  @include glyph($glyph-icon-eye-open); }
.icon-gear {  @include glyph($glyph-icon-gear); }
.icon-hourglass {  @include glyph($glyph-icon-hourglass); }
.icon-info {  @include glyph($glyph-icon-info); }
.icon-link {  @include glyph($glyph-icon-link); }
.icon-lock {  @include glyph($glyph-icon-lock); }
.icon-minus {  @include glyph($glyph-icon-minus); }
.icon-people {  @include glyph($glyph-icon-people); }
.icon-person {  @include glyph($glyph-icon-person); }
.icon-plus {  @include glyph($glyph-icon-plus); }
.icon-trash {  @include glyph($glyph-icon-trash); }
.icon-x {  @include glyph($glyph-icon-x); }
.icon-brackets {  @include glyph($glyph-icon-brackets); }
.icon-arrows-out {  @include glyph($glyph-icon-arrows-out); }
.icon-arrows-right-left {  @include glyph($glyph-icon-arrows-right-left); }
.icon-arrows-up-down {  @include glyph($glyph-icon-arrows-up-down); }
.icon-bullet {  @include glyph($glyph-icon-bullet); }
.icon-calendar {  @include glyph($glyph-icon-calendar); }
.icon-chain-links {  @include glyph($glyph-icon-chain-links); }
.icon-collapse-pane-left {  @include glyph($glyph-icon-collapse-pane-left); }
.icon-collapse-pane-right {  @include glyph($glyph-icon-collapse-pane-right); }
.icon-download {  @include glyph($glyph-icon-download); }
.icon-duplicate {  @include glyph($glyph-icon-duplicate); }
.icon-folder-new {  @include glyph($glyph-icon-folder-new); }
.icon-fullscreen-collapse {  @include glyph($glyph-icon-fullscreen-collapse); }
.icon-fullscreen-expand {  @include glyph($glyph-icon-fullscreen-expand); }
.icon-layers {  @include glyph($glyph-icon-layers); }
.icon-line-horz {  @include glyph($glyph-icon-line-horz); }
.icon-magnify {  @include glyph($glyph-icon-magnify); }
.icon-magnify-in {  @include glyph($glyph-icon-magnify-in); }
.icon-magnify-out {  @include glyph($glyph-icon-magnify-out); }
.icon-menu-hamburger {  @include glyph($glyph-icon-menu-hamburger); }
.icon-move {  @include glyph($glyph-icon-move); }
.icon-new-window {  @include glyph($glyph-icon-new-window); }
.icon-paint-bucket {  @include glyph($glyph-icon-paint-bucket); }
.icon-pause {  @include glyph($glyph-icon-pause); }
.icon-pencil {  @include glyph($glyph-icon-pencil); }
.icon-play {  @include glyph($glyph-icon-play); }
.icon-plot-resource {  @include glyph($glyph-icon-plot-resource); }
.icon-pointer-left {  @include glyph($glyph-icon-pointer-left); }
.icon-pointer-right {  @include glyph($glyph-icon-pointer-right); }
.icon-refresh {  @include glyph($glyph-icon-refresh); }
.icon-save {  @include glyph($glyph-icon-save); }
.icon-sine {  @include glyph($glyph-icon-sine); }
.icon-T {  @include glyph($glyph-icon-T); }
.icon-thumbs-strip {  @include glyph($glyph-icon-thumbs-strip); }
.icon-two-parts-both {  @include glyph($glyph-icon-two-parts-both); }
.icon-two-parts-one-only {  @include glyph($glyph-icon-two-parts-one-only); }
.icon-x-in-circle {  @include glyph($glyph-icon-x-in-circle); }
.icon-brightness {  @include glyph($glyph-icon-brightness); }
.icon-contrast {  @include glyph($glyph-icon-contrast); }
.icon-reset {  @include glyph($glyph-icon-reset); }
.icon-resync {  @include glyph($glyph-icon-resync); }
.icon-activity {  @include glyph($glyph-icon-activity); }
.icon-activity-mode {  @include glyph($glyph-icon-activity-mode); }
.icon-autoflow-tabular {  @include glyph($glyph-icon-autoflow-tabular); }
.icon-clock {  @include glyph($glyph-icon-clock); }
.icon-database {  @include glyph($glyph-icon-database); }
.icon-database-query {  @include glyph($glyph-icon-database-query); }
.icon-dataset {  @include glyph($glyph-icon-dataset); }
.icon-datatable {  @include glyph($glyph-icon-datatable); }
.icon-dictionary {  @include glyph($glyph-icon-dictionary); }
.icon-folder {  @include glyph($glyph-icon-folder); }
.icon-image {  @include glyph($glyph-icon-image); }
.icon-layout {  @include glyph($glyph-icon-layout); }
.icon-object {  @include glyph($glyph-icon-object); }
.icon-object-unknown {  @include glyph($glyph-icon-object-unknown); }
.icon-packet {  @include glyph($glyph-icon-packet); }
.icon-page {  @include glyph($glyph-icon-page); }
.icon-plot-overlay {  @include glyph($glyph-icon-plot-overlay); }
.icon-plot-stacked {  @include glyph($glyph-icon-plot-stacked); }
.icon-session {  @include glyph($glyph-icon-session); }
.icon-tabular {  @include glyph($glyph-icon-tabular); }
.icon-tabular-lad {  @include glyph($glyph-icon-tabular-lad); }
.icon-tabular-lad-set {  @include glyph($glyph-icon-tabular-lad-set); }
.icon-tabular-realtime {  @include glyph($glyph-icon-tabular-realtime); }
.icon-tabular-scrolling {  @include glyph($glyph-icon-tabular-scrolling); }
.icon-telemetry {  @include glyph($glyph-icon-telemetry); }
.icon-telemetry-panel {  @include glyph($glyph-icon-telemetry-panel); }
.icon-timeline {  @include glyph($glyph-icon-timeline); }
.icon-timer {  @include glyph($glyph-icon-timer); }
.icon-topic {  @include glyph($glyph-icon-topic); }
.icon-box-with-dashed-lines {  @include glyph($glyph-icon-box-with-dashed-lines); }
.icon-stop {  @include glyph($glyph-icon-stop); }

/************************** 12 PX CLASSES */

.icon-eye-open-12px {  @include glyph($glyph-icon-eye-open,'symbolsfont-12px'); }
.icon-collapse-pane-left-12px {  @include glyph($glyph-icon-collapse-pane-left,'symbolsfont-12px'); }
.icon-collapse-pane-right-12px {  @include glyph($glyph-icon-collapse-pane-right,'symbolsfont-12px'); }
.icon-folder-12px {  @include glyph($glyph-icon-folder,'symbolsfont-12px'); }
