// Classes for initializing states of objects

.browse-mode {
    .split-layout {
        .split-pane-component.pane.left {
            width: 15%;
        }
    }
}

.edit-mode {
    .split-layout {
        .split-pane-component.pane.right {
            width: 15%;
            .pane.bottom {
                height: 30%;
            }
        }
    }
}