@mixin limit($c, $glyph) {
	background: $c;
	&:before {
		//@include pulse(500ms);
		color: lighten($c, 30%);
		content: $glyph;
	}
}

.s-limit-upr,
.s-limit-lwr {
	$a: 0.5;
	$l: 30%;
	white-space: nowrap;
	&:before {
		display: inline-block;
		font-family: symbolsfont;
		font-size: 0.85em;
		font-style: normal !important;
		margin-right: $interiorMarginSm;
		vertical-align: middle;
	}
}

.s-limit-upr {
	&.s-limit-yellow { @include limit($colorLimitYellow, "\0000ed"); }
	&.s-limit-red { @include limit($colorLimitRed, "\0000eb"); }
}

.s-limit-lwr {
	&.s-limit-yellow { @include limit($colorLimitYellow, "\0000ec"); }
	&.s-limit-red { @include limit($colorLimitRed, "\0000ee"); }
}