/* Styles for sub-dividing views generically */
.l-control-bar {
    // Element that can be placed above l-view-section, holds controls, buttons, etc.
    height: $controlBarH;
}

.l-view-section {
	@include absPosDefault($overflow: auto);
	h2 {
		color: #fff;
		margin-bottom: $interiorMargin;
	}
	&.fixed {
		font-size: 0.8em;
	}
	.controls,
	label,
	.inline-block {
		display: inline-block;
	}
}

.has-control-bar {
    .l-view-section {
        top: $controlBarH + $interiorMargin;
    }
}


.child-frame {
    .has-control-bar {
        $btnExportH: $btnFrameH;
        .l-control-bar {
            display: none;
        }
        .l-view-section {
            top: 0;
        }
    }
}
