@import "compass";
@import "compass/css3";
@import "constants";
$dirImgs: '../../../general/res/images/';
@import "logo-and-bg";

body {
    background: black;
}

.s-logo-holder {
    @include transition-property(opacity);
    @include transition-duration(500ms);
    @include transition-timing-function(ease-in-out);
    background-image: url($dirImgs + "bg-about-openmctweb.jpg") no-repeat center; // For OpenMCT Web.
    z-index: 1000;
    opacity: 1;
    &.fadeout {
        opacity: 0;
        pointer-events: none;
    }
}

.s-logo-openmctweb {
    background-image: url($dirImgs + 'logo-openmctweb-shdw.svg');
}
