<div ng-controller="ListViewController">
  <table class="list-view">
    <!-- Table Header -->
    <thead>
        <tr>
          <th class="sortable" ng-click="orderByField='title'; reverseSort = !reverseSort"
            ng-class="{ sort: orderByField == 'title', asc:!reverseSort, desc:reverseSort }">
              Name
          </th>

          <th>
            <a href="" ng-click="orderByField='type'; reverseSort = !reverseSort">
              Type
              <span ng-show="orderByField == 'type'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>

          <th>
            <a href="" ng-click="orderByField='persisted'; reverseSort = !reverseSort">
              Created Date
              <span ng-show="orderByField == 'persisted'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>

          <th>
            <a href="" ng-click="orderByField='modified'; reverseSort = !reverseSort">
              Update Date
              <span ng-show="orderByField == 'modified'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
        </tr>
    </thead>

    <!-- Table Contents -->
    <tbody>
        <tr ng-repeat="child in children|orderBy:orderByField:reverseSort"
            mct-gesture="menu,info"
            mct-object="child.asDomainObject">
            <td>
                <div class="l-flex-row">
                    <span class="flex-elem t-item-icon {{child.icon}}"></span>
                    <span class="t-title-label flex-elem grows">{{child.title}}</span>
                </div>
            </td>
            <td>{{child.type}}</td>
            <td>{{child.persisted}}</td>
            <td>{{child.modified}}</td>
        </tr>
    </tbody>
  </table>
</div>
