/******************************* LIST ITEM */
.c-list-item {
  &.--is-current {
    background-color: rgba($colorStatusAlert, 0.2);
    font-weight: bold;
  }

  &.--is-future {
    background-color: rgba($colorBtnMajorBg, 0.2);
  }
}
