
.mobile-menu-icon {
    display: inline-block;
    @include phone {
        font-size: 25px;
    }
    @include tablet {
        font-size: 29px;
    }      
    @include desktop {
        display: none;
    }       
}

.mobile-super-menu {
    @include phoneandtablet {
        border-right: 0px !important;
        padding-right: 0px !important;
    }
}

.mobile-super-menu-text {
    overflow-x: hidden !important;
    text-overflow: ellipsis !important;
}

.mobile-right-create {
    @include phoneandtablet {
        width: 0px !important;
        padding: 0px !important;
    }
}