<div class='form-control complex datetime'>
    <div class='field-hints'>
        <span class='hint date'>Date</span>
        <span class='hint time sm'>Hour</span>
        <span class='hint time sm'>Min</span>
        <span class='hint time sm'>Sec</span>
        <span class='hint timezone'>Timezone</span>
    </div>

    <div class='fields'>
        <span class='field control date'>
            <input type='text' name='date' />
        </span>
        <span class='field control time sm'>
            <input type='text' name='hour' maxlength='2' />
        </span>
        <span class='field control time sm'>
            <input type='text' name='min' maxlength='2' />
        </span>
        <span class='field control time sm'>
            <input type='text' name='sec' maxlength='2' />
        </span>
        <span class='field control timezone'>
            UTC
        </span>
    </div>
</div>
</div>