<div class="t-btn l-btn s-btn s-icon-btn s-very-subtle btn-menu menu-element dropdown click-invoke"
     ng-controller="ClickAwayController as toggle">

    <span ng-click="toggle.toggle()">
        <span class="ui-symbol icon">{{structure.glyph}}</span>
        <span class="title-label" ng-if="structure.text">
            {{structure.text}}
        </span>
        <span class='ui-symbol icon invoke-menu'
              ng-if="!structure.text">
            v
        </span>
    </span>

    <div class="menu dropdown" ng-show="toggle.isActive()">
        <ul>
            <li ng-repeat="option in structure.options">
                <a href="" ng-click="structure.click(option.key); toggle.setState(false)">
                    <span class="ui-symbol type-icon icon">
                        {{option.glyph}}
                    </span>
                    {{option.name}}
                </a>
            </li>
        </ul>
    </div>
</div>