.form-control.select {
	@include btnSubtle($colorBodyBg);
	cursor: pointer;
	display: inline-block;
	margin: 0 0 2px 2px; // Needed to avoid dropshadow from being clipped by parent containers
    overflow: hidden;
	position: relative;
	select {
		@include appearance(none);
		@include box-sizing(border-box);
		background: none;
		color: $colorBodyFg;
		border: none !important;
		cursor: pointer;
		padding: 4px 25px 2px 5px;
        width: 120%;
        option {
            margin: $interiorMargin 0; // Firefox
        }
	}
	&:after {
		color: $colorKey;
		content:"v";
		display: block;
		font-family: 'symbolsfont';
		pointer-events: none;
		position: absolute;
		right: $interiorMargin; top: 0;
	}
}