.c-tooltip-wrapper {
  @include menuOuter();
  max-width: 200px;
  height: auto;
  width: auto;
  padding: $interiorMargin $interiorMarginLg;
  overflow-wrap: break-word;
  pointer-events: none;
  position: absolute;
  z-index: 100;
}

.c-tooltip {
  font-style: italic;
}
.c-tl__bounds {
    display: flex;
    flex-wrap: wrap; 
    gap: 4px;
    align-items: center;
    width: 100%;
}
