<div style="width: 100%; height: 100%;"
     ng-controller="FixedController as controller">



    <div ng-repeat="childObject in composition"
         ng-style="controller.getStyle(childObject.getId())">

        <div>
            <mct-representation key="'frame'"
                                mct-object="childObject">
            </mct-representation>
        </div>

        <!-- Drag handles -->
        <span ng-show="domainObject.hasCapability('editor')">
            <span style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; cursor: move;"
                  mct-drag-down="controller.startDrag(childObject.getId(), [1,1], [0,0])"
                  mct-drag="controller.continueDrag(delta)"
                  mct-drag-up="controller.endDrag()">
            </span>
        </span>

    </div>

</div>