<style>
    .l-inspect .inspector-plot-options .plot-options-form .label {
        text-transform: none;
    }
    .l-inspect .inspector-plot-options .plot-options-form .form .controls {
        width: 50%;
    }
    .l-inspect .inspector-plot-options .plot-options-form .form .label {
        width: 50%;
        min-width: 50px;
        color: #bfbfbf;
    }
    .l-inspect .inspector-plot-options .plot-options-form {
        padding-left: 20px;
    }
    .l-inspect .inspector-plot-options .plot-options-form .form-row {
        border-top: none;
    }
    .l-inspect .inspector-plot-options .plot-options-form .form .form-row.first {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

</style>
<div ng-controller="PlotOptionsController" class="inspector-plot-options">
    <em>Display</em>
    <ul class="first flex-elem grows vscroll">
        <ul class="tree">
            <li ng-repeat="child in children">
                <span ng-controller="ToggleController as toggle">
                    <span ng-controller="TreeNodeController as treeNode">
                        <span class="tree-item menus-to-left">
                            <span
                                class='ui-symbol view-control flex-elem has-children'
                                ng-class="{ expanded: toggle.isActive() }"
                                ng-click="toggle.toggle(); treeNode.trackExpansion()">
                            </span>
                            <mct-representation
                                class="rep-object-label"
                                key="'label'"
                                mct-object="child">
                            </mct-representation>
                        </span>
                    </span>
                    <div class="plot-options-form">
                        <mct-form
                                ng-class="{hidden: !toggle.isActive()}"
                                ng-model="plotOptionsModel"
                                structure="plotOptionsStructure"
                                name="plotOptionsState"
                                class="flex-elem">
                        </mct-form>
                    </div>
                </span>
            </li>
        </ul>
    </ul>
</div>