/************************** FONTS */
@font-face {
    /*
    * Use https://icomoon.io/app with icomoon-project-openmct-symbols-16px.json to generate font files
    */
    font-family: 'symbolsfont';
    src: url($dirFonts + 'openmct-symbols-16px.eot');
    src: url($dirFonts + 'openmct-symbols-16px.eot?#iefix') format('embedded-opentype'),
    url($dirFonts + 'openmct-symbols-16px.woff') format('woff'),
    url($dirFonts + 'openmct-symbols-16px.ttf') format('truetype'),
    url($dirFonts + 'openmct-symbols-16px.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*
    * Use https://icomoon.io/app with icomoon-project-openmct-symbols-12px.json to generate font files
    */
    font-family: 'symbolsfont-12px';
    src: url($dirFonts + 'openmct-symbols-12px.eot');
    src: url($dirFonts + 'openmct-symbols-12px.eot?#iefix') format('embedded-opentype'),
    url($dirFonts + 'openmct-symbols-12px.woff') format('woff'),
    url($dirFonts + 'openmct-symbols-12px.ttf') format('truetype'),
    url($dirFonts + 'openmct-symbols-12px.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************************* RESETS */
* {
    box-sizing: border-box;
}

div {
    position: relative;
}

/************************** HTML ENTITIES */
a {
    //color: $colorA;
    cursor: pointer;
    text-decoration: none;
    //&:hover {
    //    color: $colorAHov;
    //}
}

body, html {
    -webkit-font-smoothing: subpixel-antialiased;
    //background-color: $colorBodyBg;
    //color: $colorBodyFg;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: 100%;
    width: 100%;
}

em {
    font-style: normal;
}

input, textarea {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
}

h1, h2, h3 {
    letter-spacing: 0.04em;
    margin: 0;
}

h1 {
    font-size: 1.7em;
    font-weight: normal !important;
    letter-spacing: 0.04em;
    line-height: 120%;
    margin-bottom: 20px;
    margin-top: 0;
}

p {
    margin-bottom: $interiorMarginLg;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}