/**************************************************** CONSTANTS, MIXINS */
$bgKey: #222632;
$redKeyBg: #990000;
$redKeyBrdr: #ff0000;
$redKeyFg: rgba(white, 0.8);
$ylwKeyBg: #d67f28;
$ylwKeyBrdr: #ffbf1a;
$ylwKeyFg: rgba(white, 0.8);

@mixin widgetOk() {
    background-color: #bbb !important;
    border-color: #fff !important;
    color: #333 !important;
}

@mixin widgetRed() {
    background-color: $redKeyBg !important;
    border-color: $redKeyBrdr !important;
    color: $redKeyFg !important;
}

@mixin widgetYellow() {
    $c: $ylwKeyFg;
    background-color: $ylwKeyBg !important;
    border-color: $ylwKeyBrdr !important;
    color: $ylwKeyFg !important;
}

/**************************************************** OVERRIDES */
body {
    font-size: 1em;
}

.c-telemetry-view__value {
    &[class*='is-limit'] {
        background: transparent !important;
        color: inherit !important;
        &:before { display: none; }
    }
}

/**************************************************** CONVENIENCE */
.u-inspectable[s-selected] {
    border: none !important;
}

.c-table.c-telemetry-table {
    font-size: 0.7em;
}

.widget-rule-content .t-rule-message-input {
    width: 100%;
}

/**************************************************** TIME CONDUCTOR */
.c-conductor {
    &__controls {
        display: none !important;
    }

    &:hover {
        .c-conductor__controls { display: flex !important; }
    }

    [class*='__label'] {
        display: none;
    }

    &__end-fixed {
        display: none;
    }

    &__end-delta {
        &:after {
            content: '';
            display: block;
            background: url('../ui/layout/assets/images/logo-app.svg') center no-repeat;
            background-size: contain;
            width: 100px;
            height: 24px;
        }
    }

    &-input {
        input {
            &.c-input--datetime,
            &.c-input--hrs-min-sec {
                color: $colorTime;
                width: 200px;
            }

            &.c-input--hrs-min-sec {
                width: 80px;
            }
        }
    }
}

/**************************************************** MAIN LAYOUT */
.l-shell {
    &:not(.is-editing) {
        .l-shell__head,
        .l-shell__main-view-browse-bar {
            background: none !important;
            height: $interiorMargin;
            overflow: hidden;
            padding: 0 !important;
            position: absolute;
            width: 30%;
            z-index: 100;

            * { opacity: 0; }

            &:hover {
                background: #666 !important;
                height: auto;
                overflow: visible;
                padding: $interiorMargin !important;

                * { opacity: 1; }
            }
        }

        .l-shell__pane-main .l-pane__contents > * + * {
            margin-top: 0;
        }

        .l-shell__main-container {
            margin-top: 0 !important;
        }
    }

    .l-shell__main-view-browse-bar {
        top: -3px; right: 0;
    }

    &__main > .l-pane {
        padding-left: $interiorMargin !important;
        padding-right: $interiorMargin !important;
    }

    &__status { display: none !important; }
}

.l-pane {
    &__contents {
        overflow: visible !important;
    }

    &--collapsed {
        $d: 5px;
        flex-basis: $d !important;
        min-width: $d !important;
        min-height: $d !important;

        .l-pane__label {
            display: none !important;
        }

        .l-pane__collapse-button {
            &:before { display: none !important; }
        }
    }
}

/**************************************************** STYLING BY TITLE */
*[title*='font-euro'] {
    @include headerFont();
}

*[title*='key-widget'] {
    font-size: 24px;
}

*[title*='alert-red'] {
    .c-sw__icon {
        color: red !important;
    }
}

*[title*='alert-yellow'] {
    .c-sw__icon {
        color: $ylwKeyBg !important;
    }
}

*[title*='widget-ok'] {
    @include widgetOk();
}

*[title*='widget-yellow'] {
    @include widgetYellow();
}

*[title*='widget-red'] {
    @include widgetRed();
}

*[title*='pulse-slow'] {
    @include pulse($animName: pulseSlow, $dur: 1000ms, $prop: filter, $val0: brightness(1.3), $val100: brightness(0.8), $direction: normal);
    .c-sw__icon {
        @include pulse($animName: pulseWarningIcon, $dur: 500ms, $prop: opacity, $val0: 0.1, $val100: 1, $direction: normal);
    }
}

*[title*='pulse-warning'] {
    @include pulse($animName: pulseWarning, $dur: 1500ms, $prop: filter, $val0: brightness(1.2), $val100: brightness(0.7), $direction: normal);
}

/**************************************************** SECTIONS */
/************* SYS OVW WIDGETS */
*[title*='Sys Ovw'] {
    *[title*='Widget'] {
        font-size: 1.4em;
    }

    *[title*='sys-ok'] {
        @include widgetOk();
    }

    *[title*='post-ring'] {
        @include widgetRed();
    }
}

/************* VELOCITY COMPONENT */
*[title*='-not-attained'] {
    @include widgetRed();
}

/************* ACCELERATION COMPONENT */

/************* BOOST PHASE WIDGETS */
*[title*='boost-phase-widget'] {
    .c-summary-widget {
        border-width: 2px;
        padding: 5px 0;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
        }
    }
}

*[title*='boost-phase-widget-left'] {
    .c-summary-widget {
        $c: #999;
        align-items: start;
        background: rgba($c, 0.1) !important;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:before,
        &:after {
            top: 25px; right: 0; bottom: 3%; left: 40%;
        }

        &:before {
            @include bgStripes($c: $c, $a: 0.1, $bgsize: 20px, $angle: 0deg);
        }

        &:after {
            @include bgStripes($c: $c, $a: 0.1, $bgsize: 63px, $angle: 0deg);
        }
    }
}

*[title*='boost-phase-widget-right'] {
    .c-summary-widget {
        $c: #555;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:before {
            //background: deeppink;
            @include bgTicks($c: $c, $repeatDir: 'y');
            background-size: 100% 45px;
            top: 0px; right: 0; bottom: 0; left: 2px;
        }
    }
}

*[title*='Boost Phase Ring Widgets'] {
    *[title*='Ring Widget'] {
        //filter: saturate(0.7);
    }

    *[title*='ring-ok'] {
        @include widgetOk();
    }

    *[title*='bad-ring'] {
        @include widgetRed();
    }

    *[title*='post-ring'] {
        @include widgetYellow();
    }
}

/************* BOTTOM SYSTEM WIDGETS */
*[title*='system-widget'] {
    background: $bgKey !important;
    border-width: 2px !important;
    justify-content: left !important;

    .c-sw__icon {
        $m: $interiorMarginSm;
        position: absolute;
        bottom: $m;
        right: $m;
    }
}

*[title*="Bottom System Widgets"] {
    transform: translateY(-2px);
}

*[title*='system-widget--hero'] {
    // Current "tab" in interface
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

*[title*='system-widget--subtle'] {
    opacity: 0.7;
}

/**************************************************** INDIVIDUAL ELEMENTS */
/************* PASSENGER NOTICE */
*[title*='passenger-notice'] {
    font-size: 1.4em;
    .c-sw__icon {
        font-size: 2.1em;
        margin-right: $interiorMarginLg;
    }
}

*[title*='pulse-passenger-notice--warning'] {
    @include pulse($animName: pulseWarning, $dur: 1250ms, $prop: background-color, $val0: #aa0000, $val100: #660000, $direction: normal);
}

*[title*='Main Console'] {
    $r: $basicCr;
    background: $bgKey;
    border-radius: $r;
    border-bottom: 2px solid rgb(102,102,102);
}

*[title*='Event Time Str'] {
    @include heroFont(1.2em);
    line-height: .8em;
}


*[title*="Sys Ovw LAD Table"] {
    .c-lad-table {
        tr {
            background-color: black;
            color: rgba(white, 0.3);
            display: block;
            font-weight: bold;
            align-items: center;
            height: 41px;
            border-radius: 5px;
            font-size: 0.75em;
            margin-bottom: 4px;
            overflow: hidden;
            padding: 3px;
            text-transform: uppercase;
        }
        thead,
        tr td:nth-child(1),
        tr td:nth-child(2) {
            display: none;
        }

        td {
            display: block;
            width: auto;
            white-space: normal;

        }
    }
}


