/**************************************************** OVERRIDES */
$bgKey: #222632;

body {
    font-size: 1em;
}

/************* CONVENIENCE */
.u-inspectable[s-selected] {
    border: none !important;
}

.c-table.c-telemetry-table {
    font-size: 0.7em;
}

/************* TIME CONDUCTOR */
.c-conductor {
    &__controls {
        display: none !important;
    }

    &:hover {
        .c-conductor__controls { display: flex !important; }
    }

    [class*='__label'] {
        display: none;
    }

    &-input {
        input {
            &.c-input--datetime,
            &.c-input--hrs-min-sec {
                color: $colorTime;
                width: 200px;
            }

            &.c-input--hrs-min-sec {
                width: 80px;
            }
        }
    }
}

/************* MAIN LAYOUT */
.l-shell {
    &:not(.is-editing) {
        .l-shell__head,
        .l-shell__main-view-browse-bar {
            background: none !important;
            height: $interiorMargin;
            overflow: hidden;
            padding: 0 !important;
            position: absolute;
            width: 30%;
            z-index: 100;

            * { opacity: 0; }

            &:hover {
                background: #666 !important;
                height: auto;
                overflow: visible;
                padding: $interiorMargin !important;

                * { opacity: 1; }
            }
        }

        .l-shell__pane-main .l-pane__contents > * + * {
            margin-top: 0;
        }

        .l-shell__main-container {
            margin-top: 0 !important;
        }
    }

    .l-shell__main-view-browse-bar {
        top: -3px; right: 0;
    }

    &__main > .l-pane {
        padding-left: $interiorMargin !important;
        padding-right: $interiorMargin !important;
    }
}

.l-pane {
    &__contents {
        overflow: visible !important;
    }

    &--collapsed {
        $d: 5px;
        flex-basis: $d !important;
        min-width: $d !important;
        min-height: $d !important;

        .l-pane__label {
            display: none !important;
        }

        .l-pane__collapse-button {
            &:before { display: none !important; }
        }
    }
}

/**************************************************** STYLING BY TITLE */
*[title*='font-euro'] {
    @include headerFont();
}

*[title*='key-widget'] {
    font-size: 24px;
}

*[title*='system-widget'] {
    background: $bgKey !important;
    border-width: 2px !important;
    justify-content: left !important;

    .c-sw__icon {
        $m: $interiorMarginSm;
        position: absolute;
        bottom: $m;
        right: $m;
    }
}

*[title*='alert-red'] {
    .c-sw__icon {
        color: red !important;
    }
}

*[title*='pulse-slow'] {
    @include pulse($animName: pulseSlow, $dur: 1000ms, $prop: filter, $val0: brightness(1.3), $val100: brightness(0.8), $direction: normal);
    .c-sw__icon {
        @include pulse($animName: pulseWarningIcon, $dur: 500ms, $prop: opacity, $val0: 0.1, $val100: 1, $direction: normal);
    }
}

*[title*='pulse-warning'] {
    @include pulse($animName: pulseWarning, $dur: 1500ms, $prop: filter, $val0: brightness(1.2), $val100: brightness(0.7), $direction: normal);
}

/**[title*='bad-ring'] {
    @include pulse($animName: badRing, $dur: 500ms, $prop: filter, $val0: brightness(1.2), $val100: brightness(1.0), $direction: alternate);
}*/

*[title*='Boost Phase Ring Widgets'] {
    *[title*='Ring Widget'] {
        filter: saturate(0.7);
    }
}

*[title*='pulse-passenger-notice--warning'] {
    @include pulse($animName: pulseWarning, $dur: 1250ms, $prop: background-color, $val0: #aa0000, $val100: #660000, $direction: normal);
}
/**************************************************** INDIVIDUAL ELEMENTS */
*[title*='passenger-notice'] {
    font-size: 1.4em;
    .c-sw__icon {
        font-size: 2.1em;
        margin-right: $interiorMarginLg;
    }
}

*[title*='Main Console'] {
    $r: $basicCr;
    background: $bgKey;
    border-radius: $r;
}

*[title*='Event Time Str'] {

    @include heroFont(1.2em);
    line-height: .8em;
}

*[title*='boost-phase-widget'] {
    .c-summary-widget {
        border-width: 2px;
        padding: 5px 0;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
        }
    }
}

*[title*='boost-phase-widget-left'] {
    .c-summary-widget {
        $c: #999;
        align-items: start;
        background: rgba($c, 0.1) !important;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:before,
        &:after {
            top: 25px; right: 0; bottom: 3%; left: 40%;
        }

        &:before {
            @include bgStripes($c: $c, $a: 0.1, $bgsize: 20px, $angle: 0deg);
        }

        &:after {
            @include bgStripes($c: $c, $a: 0.1, $bgsize: 63px, $angle: 0deg);
        }
    }
}

*[title*='boost-phase-widget-right'] {
    .c-summary-widget {
        $c: #555;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:before {
            //background: deeppink;
            @include bgTicks($c: $c, $repeatDir: 'y');
            background-size: 100% 45px;
            top: 0px; right: 0; bottom: 0; left: 2px;
        }
    }
}

