/******************************************************** TABLE */
.c-table {
    // Can be used by any type of table, scrolling, LAD, etc.
    $min-w: 50px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    overflow: hidden;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    &__control-bar,
    &__headers-w {
        // Don't allow top level elements to grow or shrink
        flex: 0 0 auto;
    }

    /******************************* ELEMENTS */
    th, td {
        //display: block;
        //flex: 1 0 auto;
        //font-size: 0.7rem; // TEMP LEGACY TODO: refactor this when __main-container font-size is dealt with
        white-space: nowrap;
        min-width: $min-w;
        padding: $tabularTdPadTB $tabularTdPadLR;
        //vertical-align: middle; // This is crucial to hiding f**king 4px height injected by browser by default
    }

    td {
        color: $colorTelemFresh;
        vertical-align: top;
    }

    &__control-bar {
        margin-bottom: $interiorMarginSm;
    }/*

    !******************************* WRAPPERS *!
    &__headers-w {
        // Wraps __headers table
        background: $colorTabHeaderBg;
        overflow: hidden;
    }

    !******************************* TABLES *!
    &__headers,
    &__body {
        tr {
            display: flex;
            align-items: stretch;
        }
    }

    &__headers {
        // A table
        thead {
            display: block;
        }

        th {
            &:not(:first-child) {
                border-left: 1px solid $colorTabHeaderBorder;
            }
        }
    }*/


    [class*="__header"] {
        // Wraps __headers table
        background: $colorTabHeaderBg;

        th {
            &:not(:first-child) {
                border-left: 1px solid $colorTabHeaderBorder;
            }
        }
    }

    &__body {
        // A table
        tr {
            &:not(:first-child) {
                border-top: 1px solid $colorTabBorder;
            }
        }
    }

    /******************************* MODIFIERS */
/*    &--filterable {
        .l-filter {
            input[type="text"],
            input[type="search"] {
                $p: 20px;
                transition: padding 200ms ease-in-out;
                box-sizing: border-box;
                padding-right: $p; // Fend off from icon
                padding-left: $p; // Fend off from icon
                width: 100%;
            }
            &.active {
                // When user has typed something, hide the icon and collapse left padding
                &:before {
                    opacity: 0;
                }
                input[type="text"],
                input[type="search"] {
                    padding-left: $interiorMargin;
                }
            }
        }
    }*/

    &--sortable {
        .is-sorting {
            &:after {
                color: $colorIconLink;
                content: $glyph-icon-arrow-tall-up;
                font-family: symbolsfont;
                font-size: 8px;
                display: inline-block;
                margin-left: $interiorMarginSm;
            }
            &.desc:after {
                content: $glyph-icon-arrow-tall-down;
            }
        }
        .is-sortable {
            cursor: pointer;
        }
    }
}