/************* FRAMES */
.c-so-view {
    &__header__name {
        transform: translateY(-2px);
    }

    &:not(.c-so-view--no-frame) {
        $bc: #666;
        $bLR: 3px solid transparent;
        $br: 20px;
        background: none !important;
        border-radius: $br;
        border-top: 4px solid $bc !important;
        border-bottom: 2px solid $bc !important;
        border-left: $bLR !important;;
        border-right: $bLR !important;;
        padding: 5px 10px 10px 10px !important;
    }
}
