<div class="l-title s-title">
    {{parameters.title}}
</div>
<div class="l-graph-area">
	<div class="l-labels-holder">
		<div class="tick-label tick-label-y tick-label-1" style="top: 0;">
            {{parameters.high}}
        </div>
		<div class="tick-label tick-label-y" style="top: 50%; margin-top: -0.5em; height: 1em;">
            {{parameters.middle}}
        </div>
		<div class="tick-label tick-label-y" style="top: auto; bottom: 4px; height: 1em;">
            {{parameters.low}}
        </div>
	</div>
</div>