<div
	class="l-fixed-position-text l-telemetry"
	ng-style="{ background: ngModel.fill(), 'border-color': ngModel.stroke(), color: ngModel.color() }"
	>
	<div
		class="l-elem l-title"
		ng-show="ngModel.element.titled"
		>
		{{ngModel.name}}
	</div>
	<div
		class="l-elem l-value s-value"
		ng-class="{ 'telem-only': !ngModel.element.titled }"
		>
		<!-- ng-class is temporarily hard-coded in next element -->
	    <span
		    class="l-value-bg s-value-bg"
		    ng-class="{ 's-limit-lwr': ngModel.value < 0, 's-limit-red' : 1 }"
		    >
			{{ngModel.value}}
		</span>
	</div>
</div>