<a class="l-page-button s-icon-button icon-pointer-left"></a>
<div class="l-data-visualization">
    <!-- Note:
    - val-to-right should be applied when l-toi-holder left < 160px
    -->
    <div class="l-toi-holder"
         ng-class="{ 'pinned': true, 'val-to-right': false }"
         ng-click="this.pinned = false"
         style="left: 70%">
        <div class="l-toi">
            <div class="l-toi-val">2016-09-15 21:31:30.000Z</div>
        </div>
    </div>
</div>
<a class="l-page-button align-right s-icon-button icon-pointer-right"></a>