name: PR

on:
  push:
  pull_request:
    types:
      - opened
      - labeled

env:
  NODE_ENV: development

jobs:
    generate_cache_key:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - id: generate_cache_key
            run: |
                lock_hash="$(sha256sum package-lock.json | awk '{print $1}')"
                echo "cache_key=node18-deps-${lock_hash}" >> "$GITHUB_OUTPUT"
        outputs:
            cache_key: ${{ steps.generate_cache_key.outputs.cache_key }}
    build_and_cache_dependencies_if_needed:
        needs: generate_cache_key
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-node@v4
            with:
                node-version: "22"
                cache: npm
          - uses: actions/cache@v4
            id: node22_deps_cache
            with:
              path: node_modules
              key: ${{ needs.generate_cache_key.outputs.cache_key }}
          - run: npm ci
            if: steps.node22_deps_cache.outputs.cache-hit != 'true' || contains(github.event.pull_request.labels.*.name, 'build:clean')
          - name: Remove pr:e2e:couchdb label (if present)
            if: contains(github.event.pull_request.labels.*.name, 'build:clean')
            uses: actions/github-script@v6
            with:
              script: |
                const { owner, repo, number } = context.issue;
                const labelToRemove = 'build:clean';
                try {
                  await github.rest.issues.removeLabel({
                    owner,
                    repo,
                    issue_number: number,
                    name: labelToRemove
                  });
                } catch (error) {
                  core.warning(`Failed to remove ' + labelToRemove + ' label: ${error.message}`);
                }
        outputs:
            cache_key: ${{ needs.generate_cache_key.outputs.cache_key }}
    lint:
        needs: 
            - build_and_cache_dependencies_if_needed
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-node@v4
            with:
                node-version: "22"
                cache: npm
          - uses: actions/cache@v4
            with:
              path: node_modules
              key: ${{ needs.build_and_cache_dependencies_if_needed.outputs.cache_key }}
          - run: ls -la
          - run: npm run lint