name: PR

on:
  push:
  pull_request:
    types:
      - opened

env:
  NODE_ENV: development

jobs:
    generate_cache_key:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - id: generate_cache_key
            run: |
                lock_hash="$(sha256sum package-lock.json | awk '{print $1}')"
                echo "cache_key=node18-deps-${lock_hash}" >> "$GITHUB_OUTPUT"
        outputs:
            cache_key: ${{ steps.generate_cache_key.outputs.cache_key }}
    should_build:
        runs-on: ubuntu-latest
        needs: generate_cache_key
        steps:
          - uses: actions/cache@v4
            id: node18_deps_cache
            with:
              path: node_modules
              key: ${{ needs.generate_cache_key.outputs.cache_key }}
          - run: echo "should_build=${{ steps.node18_deps_cache.outputs.cache-hit != 'true' && github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'build:clean') }}" >> "$GITHUB_OUTPUT"
            id: should_build
        outputs:
            should_build: ${{ steps.should_build.outputs.should_build }}
    lint:
        needs: 
            - should_build
            - generate_cache_key
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
          - uses: actions/setup-node@v4
            with:
                node-version: "22"
                cache: npm
          - uses: actions/cache@v4
            id: node18_deps_cache
            with:
              path: node_modules
              key: ${{ needs.generate_cache_key.outputs.cache_key }}
          - run: npm ci
            if: needs.should_build.outputs.should_build == 'true'
          - run: ls -la
          - run: npm run lint