.timeline-container {
}

.imagery-timeline {
	height: auto;
	background-color: #333;
	overflow-x: scroll;
	white-space: nowrap;
    padding-bottom:10px;
}


.timeline-img {
	height: 125px;
/*	display: inline;*/
}

.timeline-entry {
	display: inline-block;
	background-color: #333;
}

.timeline-entry:hover {
	background-color:#0099cc;
}


.timeline-entry p {
	font-size: 12px;
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
	color: #fff;
	cursor: default;
}

.timstamp {
	display: inline;
}